<%= form_for(jar) do |f| %>
  <div class="form-group">
    <%= f.label :bag_id %>
    <%= f.collection_select :bag_id, Bag.all, :name, :name, {}, selected: params[:bag], class: 'form-control' %>
    <%= display_error_for jar, :bag_id %>
  </div>

  <div class="form-group">
    <%= f.label :initial_weight %>
    <%= f.text_field :initial_weight, class: 'form-control' %>
    <%= display_error_for jar, :initial_weight %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>