<tr>
  <td><%= check_box_tag :row_selector %></td>
  <td><%= jar.name %></td>
  <td><%= jar.strain %></td>
  <td><%= jar.category %></td>
  <td><%= jar.weight %></td>
  <td><%= jar.origin %></td>
  <td><%= jar.actions %></td>
</tr>