<div class="box box-solid box-danger">
  <div class="box-header">
    <h3 class="box-title">Listing jars</h3>
    <div class="box-tools">
      <div class="input-group">
        <%= form_tag(jars_path, :method => "get", id: "search-form", remote: true, autocomplete: 'off') do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search", class: "form-control input-sm pull-right" %>
        <% end %>
        <div class="input-group-btn">
          <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </div><!-- /.box-header -->

  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <tr>
        <th><%= check_box_tag :accept %></th>
        <th><%= sortable :name, 'ID' %></th>
        <th>Strain</th>
        <th>Category</th>
        <th><%= sortable :current_weight, 'Weight' %></th>
        <th><%= sortable :created_at %></th>
        <th><%= sortable :bag_id, 'Origin' %></th>
        <th>Actions</th>
      </tr>
      <tbody id="table">
        <%= render 'jars/ajax/table' %>
      </tbody>
    </table>
  </div><!-- /.box-body -->
</div>