<div class="box">
  <div class="box-header">
    <h3 class="box-title">Listing jars</h3>
    <div class="box-tools">
      <div class="input-group">
        <input type="text"
               name="table_search"
               class="form-control input-sm pull-right"
               style="width: 150px;"
               placeholder="Search"/>
        <div class="input-group-btn">
          <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </div><!-- /.box-header -->

  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <tr>
        <th><input id="accept" name="accept" type="checkbox" style="height:100%, width:100%" /></th>
        <th>ID :</th>
        <th>Weight :</th>
        <th>Strain :</th>
        <th>Type :</th>
        <th>Origin :</th>
        <th>Actions :</th>
      </tr>

      <% jars.each do |lot| %>
      <tr>
        <td></td>
        <td><%= jar.id %></td>
        <td><%= jar.weight %></td>
        <td><%= jar.bag.lot.strain %></td>
        <td><%= jar.bag.lot.category %></td>
        <td><%= jar.bag %></td>
        <td>
          <a class="btn-sm btn-flat btn-warning">New Bags</a>
          <%= link_to 'Show', lot, class: "btn-sm btn-flat btn-success" %>
          <%= link_to 'Edit', lot, class: "btn-sm btn-flat btn-primary" %>
          <%= link_to 'Destroy', lot, method: :delete, data: { confirm: 'Are you sure?' },
                      class: "btn-sm btn-flat btn-danger" %>
        </td>
      </tr>
      <% end %>
    </table>
  </div><!-- /.box-body -->
</div>

<div class="tableFooter">
  <div class="btn-group">
    <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <button type="button" class="btn btn-info btn-flat">Action</button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#"></a></li>
      <li><a href="#">Create Bags</a></li>
      <li class="divider"></li>
      <li><a href="#">Détruire</a></li>
    </ul>
  </div>
  <%= link_to 'New lot', new_lot_path, class: "btn btn-flat btn-success"  %>
</div>
