<p id="notice"><%= notice %></p>

<ul style="list-style-type: none; padding-left: 0;">
  <li><strong>Name: </strong><%= jar %></li>
  <li><strong>Weight: </strong><%= jar.current_weight %></li>
</ul>

<%= link_to 'Edit', edit_jar_path(jar) %> |
<%= link_to 'Back', jars_path %>
