<div class="box box-solid box-warning">
  
  <div class="box-header">
    <h3 class="box-title">Bins</h3>
    <div class="box-tools">
      <div class="input-group">
        <%= form_tag(bins_path, method: :get, id: "search-form", remote: true, autocomplete: 'off') do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search", class: "form-control input-sm pull-right" %>
        <% end %>

        <div class="input-group-btn">
          <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <tr>
        <th><%= check_box_tag :table_selector %></th>
        <th><%= sortable :name, "ID" %></th>
        <th><%= sortable :location %></th>
        <th><%= sortable :bags, "Content" %></th>
        <th>Actions</th>
      </tr>
      
      <tbody id="table">
        <% bins.each do |bin| %>
          <%= render bin %>
        <% end %>
      </tbody>

      <tfoot>
        <tr>
          <th>Total</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tfoot>
    </table>
  </div>

</div>

<div class="tableFooter">
  <%= link_to "#{fa_icon 'square'} New bin".html_safe, '#', class: 'btn btn-flat btn-warning',
      data: { toggle: 'modal', target: '.new-bin'} %>

  <%= paginate bins %>
</div>

<%= render 'bins/modal/new' %>