<% jars.each do |jar| %>
  <tr>
    <td><%= check_box_tag :accept %></td>
    <td><%= link_to jar, jar if jar.present? %></td>
    <td><%= strain_for jar.try(:strain) if jar.present? %></td>
    <td><%= category_for jar.try(:category) if jar.present? %></td>
    <td><%= weight_for jar.try(:current_weight) if jar.present? %></td>
    <td><%= date_for jar.try(:created_at) if jar.present? %></td>
    <td>
      <%= link_to "#{fa_icon('tag')} #{jar.bag}".html_safe, jar.bag, class: "btn-sm btn-flat btn-warning" %>
    </td>
    <td>
      <a class="btn-sm btn-flat btn-info">New Order</a>
      
      <% if can? :edit, jar %>
      <%= link_to "#{fa_icon 'circle' } Edit".html_safe, edit_jar_path(jar), class: "btn-sm btn-flat btn-warning" %>
      <% end %>

      <% if can? :perform_return, jar %>
      <%= link_to "#{fa_icon 'square' } Return".html_safe, perform_return_jar_path(jar), class: "btn-sm btn-flat btn-danger", data: { confirm: "RETURN JAR TO INVENTORY\r\nAre you sure?" } %>
      <% end %>

    </td>
  </tr>
<% end %>
