<% jars.each do |jar| %>
  <tr>
    <td><%= check_box_tag :accept %></td>
    <td><%= link_to jar, jar if jar.present? %></td>
    <td><%= jar.try(:strain) if jar.present? %></td>
    <td><%= jar.try(:category) if jar.present? %></td>
    <td><%= weight_for jar.try(:current_weight) if jar.present? %></td>
    <td><%= date_for jar.try(:created_at) if jar.present? %></td>
    <td><%= date_for jar.try(:updated_at) if jar.present? %></td>
    <td>
      <%= link_to "#{fa_icon('tag')} #{jar.bag}".html_safe, jar.bag, class: "btn-sm btn-flat btn-warning" %>
    </td>
    <td>
      <a class="btn-sm btn-flat btn-info">New Order</a>
      
      <% if can? :show, jar %>
      <%= link_to 'Show', jar, class: "btn-sm btn-flat btn-success" %>
      <% end %>
      
      <% if can? :edit, jar %>
      <%= link_to "#{fa_icon('circle')} Edit".html_safe, edit_jar_path(jar), class: "btn-sm btn-flat btn-warning" %>
      <% end %>

    </td>
  </tr>
<% end %>
