<div role="tabpanel">
  <% if Rails.env.development? %>
  <%= link_to 'Print PDF', inventory_lots_path(format: :pdf, debug: 1), class: 'btn btn-primary pull-right' %>
  <% else %>
  <%= link_to 'Print PDF', inventory_lots_path(format: :pdf), class: 'btn btn-primary pull-right' %>
  <% end %>

  <%#= link_to 'Print Monthly Report', inventory_download_path, class: 'btn btn-primary pull-right'%>
  
  <%= render 'inventory/nav' %>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="lots">
      <table class="table table-striped">
        <tr>
          <th class="col-md-3"><%= sortable :name, 'ID'%></th>
          <th class="col-md-3"><%= sortable :strain %></th>
          <th class="col-md-3"><%= sortable :category %></th>
          <th class="col-md-3"><%= sortable :current_weight, 'Current Weight (g)' %></th>
        </tr>

        <% lots.each do |lot| %>
          <tr>
            <td><%= lot.try(:to_s) %></td>
            <td><%= strain_for lot.try(:strain) %></td>
            <td><%= lot.try(:category) %></td>
            <td><%= weight_for lot.try(:current_weight), '' %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>