<div role="tabpanel">
  <% if Rails.env.development? %>
    <%= link_to 'Print PDF', inventory_lots_path( format: :pdf,
                                                  debug: 1,
                                                  direction: sort_direction,
                                                  sort: sort_column),
                                                  class: 'btn btn-primary pull-right' %>
  <% else %>
    <%= link_to 'Print PDF', inventory_lots_path( format: :pdf,
                                                  direction: sort_direction,
                                                  sort: sort_column),
                                                  class: 'btn btn-primary pull-right' %>
  <% end %>

  <%#= link_to 'Print Monthly Report', inventory_download_path, class: 'btn btn-primary pull-right'%>
  
  <%= render 'inventory/nav' %>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="lots">
      <%= form_for :filter, url: inventory_lots_path, remote: true, html: { id: 'filter-form' } do |f| %>
        <table class="table table-striped">
          <tr>
            <th class="col-md-2">
              <%= sortable :name, 'ID' %>
              <%= f.number_field :id, id: 'id-filter', class: 'filter form-control' %>
            </th>

            <th class="col-md-2">
              <%= sortable :strain %>
              <%= f.collection_select :strain, Strain.all, :id, :acronym,
                  { include_blank: true }, class: 'filter form-control', id: 'strain-filter' %>
            </th>

            <th class="col-md-2">
              <%= sortable :category %>
              <%= f.select :category, options_for_select(['Trim', 'Buds', 'Unprocessed']),
                  { include_blank: true }, class: 'filter form-control', id: 'category-filter' %>
            </th>

            <th class="col-md-2">
              <%= sortable :current_weight, 'Weight' %>
              <%= f.number_field :current_weight, id: 'current-weight-filter', class: 'filter form-control' %>
            </th>
          </tr>

          <tbody id="table-body">
            <%= render 'inventory/lots/ajax/table' %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>