<div class="row">
  <div class="col-lg-6">
    <div class="box box-solid box-danger">
      <div class="box-header">
        <%= fa_icon 'flask' %><h3 class="box-title">History</h3>
      </div>

      <div class="box-body">
        <table class="table table-hover">
        <div role="tabpanel"></div>
          <tr>
            <td>Source : </td>
            <td>Target : </td>
            <td>Quantity : </td>
            <td>Timestamp : </td>
            <td>User : </td>
          </tr>
          <div class="nav nav-pills" role="pilllist">
            <tr>
              <td>

                <% if container.try(:lot).present? %>
                <a href="#id<%= container.try(:lot).try(:id) %>"
                   aria-controls="id<%= container.try(:lot).try(:id) %>"
                   role="tab"
                   data-toggle="tab"><%= container.try(:lot) %></a>
                <% end %>
              </td>
              <td><%= container if container.present? %></td>
              <td><%= container.try(:initial_weight) %></td>
              <td><%= date_for container.try(:created_at) %></td>
              <td><%= (container.try(:history).try(:history_lines) || []).try(:first).try(:user) %></td>
            </tr>
            <% (container.try(:history).try(:history_lines) || []).each do |line| %>
            <% next if line.try(:target) == container.try(:lot) %>
              <tr>
                <td><%= container if container.present? %></td>
                <td>
                  <a href="#<%= line.try(:id) %>"
                     aria-controls="<%= line.try(:id) %>"
                     role="tab"
                     data-toggle="tab"><%= line.try(:target) %></a>
                </td>
                <td><%= line.try(:quantity) %></td>
                <td><%= date_for line.try(:created_at) %></td>
                <td><%= line.try(:user) %></td>
              </tr>
            <% end %>
          </div>
        </table>
      </div> 
    </div>
  </div>
   <div class="col-lg-6">
    <div class="box box-solid box-success">
      <div class="box-header">
        <i class="fa fa-leaf"></i>
        <h3 class="box-title">Timeline</h3>
      </div>
      <div class="box-body">
        <table class="table table-hover">
          <tr>
            <th class="col-lg-2">Created At : </th>
            <th class="col-lg-2" style="text-align:right">Object : </th>
            <th class="col-lg-3" style="text-align:center">Event : </th>
            <th>Object : </th>
          </tr>
          <tr>
            <td><%= date_for container.lot.try(:created_at) if container.lot.present? %></td>
            <td style="text-align:right"><%= link_to "#{container.lot}".html_safe, container.lot, class: "btn-sm btn-flat btn-info" %></td>
            <td style="text-align:center"><i style="float:left" class="fa fa-arrow-left"></i> <%= container.lot.initial_weight %> g <i class="fa fa-arrow-left" style="float:right"> </i></td>
            <td style="text-align:left">
              <% container.lot.plants.each do |plant| %>
                <%= link_to plant.id, plant, class: "btn-sm btn-flat btn-success" %>
              <% end %>
            </td>
          </tr>

          <tr>
            <td><%= date_for container.try(:created_at) %></td>
            <td style="text-align:right"><%= link_to "#{container}".html_safe, container, class: "btn-sm btn-flat btn-primary" %></td>
             <td style="text-align:center"><i class="fa fa-arrow-left" style="float:left"></i> <%= container.initial_weight %> g <i class="fa fa-arrow-left" style="float:right"></i></td>
                <td style="text-align:left">
                  <% ordered_by_id(container.plants).each do |plant| %>
                    <%= link_to plant.id, plant, class: "btn-sm btn-flat btn-success" %>
                  <% end %>
                </td>
          </tr>
          
          <% ordered_by_id(container.try(:bags)).each do |bag| %>
          <tr>
            <td><%= date_for bag.try(:created_at) if bag.present? %></td>
            <td style="text-align:right"><%= link_to "#{bag}".html_safe, bag, class: "btn-sm btn-flat btn-warning" %></td>
            <td style="text-align:center"><i class="fa fa-arrow-left" style="float:left"></i> <%= bag.initial_weight %> g <i style="float:right" class="fa fa-arrow-left"></i></td> 
            <td style="text-align:left"><%= link_to bag.container,bag.container, class: "btn-sm btn-flat btn-primary" %></td>
          </tr>
          <% end %>

          <% ordered_by_id(container.try(:jars)).each do |jar| %>
            <tr>
              <td><%= date_for jar.try(:created_at) if jar.present? %></td>
              <td style="text-align:right">
                <%= link_to "#{jar}".html_safe, jar, class: "btn-sm btn-flat btn-danger" %></td>
                <td style="text-align:center"><i style="float:left" class="fa fa-arrow-left"></i> <%= jar.current_weight %> g <i style="float:right" class="fa fa-arrow-left"></i></td>
                <td style="text-align:left"><%= link_to jar.bag, jar.bag, class: "btn-sm btn-flat btn-warning" %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
