<% containers.each do |container| %>
  <tr>
    <td><%= link_to "#{container}", container %></td>
    <td><%= container.try(:location) %></td>
    <td><%= strain_for container.try(:strain) %></td>
    <td><%= container.try(:lot) %></td>
    <td><%= weight_for container.try(:initial_weight), '' %></td>
    <td><%= weight_for container.try(:current_weight), '' %></td>
    <td><%= weight_for container.try(:water_loss), '' %></td>
    <td>
      <%= link_to "#{fa_icon 'tag' } New Transaction".html_safe, '#', class: 'btn-sm btn-flat btn-success',
          data: { toggle: 'modal', target: '#new-transaction' } %>

      <%= link_to "#{fa_icon 'circle' } Edit".html_safe, edit_container_path(container),
          class: "btn-sm btn-flat btn-warning" %>
    </td>
  </tr>
<% end %>
