<% containers.each do |container| %>
  <tr>
    <td><%# check_box_tag :accept %></td>
    <td><%= container.try(:id) %></td>
    <td><%= link_to "#{container}", container %></td>
    <td><%= container.try(:location) %></td>
    <td><%= strain_for container.try(:strain) %></td>
    <td><%= container.try(:lot) %></td>
    <td><%= weight_for container.try(:initial_weight), '' %></td>
    <td><%= weight_for container.try(:current_weight), '' %></td>
    <td><%= weight_for container.try(:water_loss), '' %></td>
    <td><%= date_for container.try(:created_at) %></td>
    <td><%= date_for container.try(:updated_at) %></td>
    <td>
      <%= link_to "#{fa_icon('tag')} New Bag".html_safe, '#', class: 'btn-sm btn-flat btn-warning',
          data: { toggle: 'modal', target: '.new-bag' } %>
      
      <%= link_to "#{fa_icon('circle')} Edit".html_safe, edit_container_path(container),
          class: "btn-sm btn-flat btn-warning" %>
    </td>
  </tr>
<% end %>