<% bags.each do |bag| %>
  <tr id="<%= bag.id %>">
    <td><%= check_box_tag :accept %></td>
    <td>
      <% if can? :show, Bag %>
        <%= link_to "#{bag}", bag %>
      <% else %>
        <%= bag %>
      <% end %>
      <%= test_for bag %>
      <%= archive_for bag %>
      <%= destroyed_for bag %>
      <%= sent_to_lab_for bag %>
    </td>
    <td><%= strain_for bag.try(:strain) %></td>
    <!--<td><%#= category_for bag.try(:category) %></td>-->
    <td><%= weight_for bag.try(:initial_weight) %></td>
    <td><%= weight_for bag.try(:current_weight) %></td>
    <td>
      <% if bag.is_destroyed? %>
        <a class="btn-sm btn-flat btn-danger">Destroyed</a>
      <% elsif bag.sent_to_lab? %>
        <a class="btn-sm btn-flat btn-info"><span class="fa-icon-flask"></span>Sent to lab</a> 
      <% else %>
      <%= link_to bag.bin, bag.bin.to_s, class: 'btn-sm btn-flat btn-primary' %>
      <% end %>
    </td>
    <% if can? :manage, Bag %>
      <td><%= weight_for bag.delta, '' %></td>
      <td><%= weight_for bag.delta_old, '' %></td>
    <% end %>
    <td><%= bag.try(:status) %></td>
    <td>
      <% if can? :show, Lot %>
      <%= link_to "#{fa_icon('tag')} #{bag.try(:lot)}".html_safe, bag.try(:lot), class: "btn-sm btn-flat btn-info" %>
      <% end %>
    </td>
    <td><%= render 'bags/ajax/menu', bag: bag %></td>
  </tr>

<% end %>
