<% bags.each do |bag| %>
  <tr>
    <td><%= check_box_tag :accept %></td>
    <td>
      <% if can? :show, Bag %>
        <%= link_to "#{bag}", bag %>
        <%= test_for bag %>
        <%= archive_for bag %>
      <% else %>
        <%= bag %>
        <%= test_for bag %>
        <%= archive_for bag %>
      <% end %>
    </td>
    <td><%= strain_for bag.try(:strain) %></td>
    <td><%= category_for bag.try(:category) %></td>
    <td><%= weight_for bag.try(:initial_weight) %></td>
    <td><%= weight_for bag.try(:current_weight) %></td>
    <td><%= link_to bag.bin, bag.bin, class: 'btn-sm btn-flat btn-primary' %></td>
    <td><%= bag_variance bag %></td>
    <td><%= bag.try(:status) %></td>
    <td>
      <% if can? :show, Lot %>
      <%= link_to "#{fa_icon('tag')} #{bag.try(:lot)}".html_safe, bag.try(:lot), class: "btn-sm btn-flat btn-info" %>
      <% end %>
    </td>
    <td>
      <% if can? :show, Container %>
      <%= link_to "#{fa_icon('square')} #{bag.try(:container)}".html_safe, bag.try(:container), class: "btn-sm btn-flat btn-primary" %>
      <% end %>
    </td>
    <td>
      <% if can? :label, Bag %>
      <%= link_to "Print Label", label_bag_path(bag), class: 'btn-sm btn-flat btn-primary' %>
      <% end %>

      <% if can? :send_to_lab, Bag %>
      <%= link_to "#{fa_icon 'flask'} To Lab".html_safe, '#', class: "btn-sm btn-flat btn-info" %>
      <% end %>

      <% if can? :reweight, Bag %>
      <%= link_to "#{fa_icon 'flask'} Reweight".html_safe, reweight_bag_path(bag),
          class: 'btn-sm btn-flat btn-danger reweight',
          data: { href: reweight_bag_path(bag) } %>
      <% end %>

      <% if can? :recall, Bag %>
      <%= link_to "Recall", recall_bag_path(bag), class: 'btn-sm btn-flat btn-danger' %>
      <% end %>

      <% if can? :quarantine, Bag %>
      <%= link_to "Quarantine", quarantine_bag_path(bag), class: 'btn-sm btn-flat btn-danger' %>
      <% end %>

      <% if can? :edit, Bag %>
      <%= link_to "#{fa_icon('circle')} Edit".html_safe, edit_bag_path(bag), class: "btn-sm btn-flat btn-warning" %>
      <% end %>
    </td>
  </tr>
<% end %>
