<div role="tabpanel">
  <%= link_to 'Print PDF', inventory_jars_download_path, class: 'btn btn-primary pull-right' %>

  <%#= link_to 'Print Monthly Report', inventory_download_path, class: 'btn btn-primary pull-right'%>
  
  <%= render 'inventory/nav' %>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="jars">
      <table class="table table-striped">
        <tr>
          <th>Name</th>
          <th>Strain</th>
          <th>Category</th>
          <th>Initial Weight (g)</th>
          <th>Current Weight (g)</th>
        </tr>

        <% jars.each do |jar| %>
          <tr>
            <td><%= jar.try(:to_s) %></td>
            <td><%= strain_for jar.try(:strain) %></td>
            <td><%= jar.try(:category) %></td>
            <td><%= weight_for jar.try(:initial_weight), '' %></td>
            <td><%= weight_for jar.try(:current_weight), '' %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>