<% plants.each do |plant| %>
  <tr class="<%= status_color_for plant.try(:status) %>">
    <td><%= check_box_tag :accept %></td>
    <td><%= link_to plant, plant %></td>
    <td><%= strain_for plant.try(:strain) %></td>
    <td><%= plant.try(:status) %></td>
    <td><%= format_for plant.try(:format) %></td>
    <td><%= plant.try(:location) %></td>
    <td><%= date_for plant.try(:created_at) %></td>
    <td><%= date_for plant.try(:updated_at) %></td>
    <td>
      <% if can? :label, Plant %>
      <%= link_to 'Print Label', label_plant_path(plant), class: 'btn-sm btn-flat btn-primary' %>
      <% end %>

      <% if can? :edit, Plant %>
      <%= link_to 'Edit', edit_plant_path(plant), class: "btn-sm btn-flat btn-warning" %>
      <% end %>
    </td>
  </tr>
<% end %>

