<%= form_for(user) do |f| %>
  
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <%= display_error_for user, :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
