<div class="box box-danger">
  <div class="box-header">
    <h3 class="text-danger text-center">
      <strong>Access Denied</strong>
    </h3>
  </div>

  <div class="box-body">
    <div class="row">
      <p class="text-danger text-center">
        <strong>You do not have access to this resource.</strong>
      </p>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="box box-warning">
          <div class="box-header">
            <h3 class="text-warning text-center">Supervisor Override</h3>
          </div>
          
          <div class="box-body">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <%= form_for :check, method: :post do |f| %>
                  <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                      <div class="form-group">
                        <%= f.label :supervisor_email %>
                        <%= f.text_field :supervisor_email, class: 'form-control' %>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                      <div class="form-group">
                        <%= f.label :supervisor_password %>
                        <%= f.password_field :supervisor_password, class: 'form-control' %>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                      <div class="form-group">
                        <%= f.submit 'Override', class: 'btn btn-warning btn-flat form-control' %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>      
    </div>

    <p class="text-danger text-center">
      <strong>Can't get a supervisor? <%= link_to 'Go back.', '#', onclick: 'javascript:history.back();' %></strong>
    </p>
  </div>

  <br>
</div>