<div class="box box-solid box-<%= color %>">
  <div class="box-header">
    <%= fa_icon icon %>
    <h3 id="box-description-title" class="box-title">
      <%= title %>
      <% if described.respond_to? :is_destroyed %>
        <% if described.is_destroyed? %>
          <span style="color:black">DESTROYED</span>
        <% end %>
      <% end %>
    </h3>
  </div>
  <div class="box-body">
    <div class="row">
      <div class="col-lg-10">
      <table id="box-description-table" class="table table-hover description">

        <tr>
          <th>ID :</th>
          <td id="box-description-id">
            <% if described.respond_to? :name %>
              <%= link_to "#{described.name}".upcase, described %>
              <% if described.class == Bag then %>
                <%= test_for described  %>
                <%= archive_for described %>
              <% end %>
            <% else %>
              <%= link_to "#{described}".upcase, described %>
            <% end %>
          </td>
        </tr>

        <% if described.respond_to? :status %>
        <tr>
          <th>Status :</th>
          <td><%= described.status %></td>
        </tr>
        <% end %>

        <% if described.respond_to? :strains %>
          <tr>
            <th>Strains :</th>
            <td>
              <% described.strains.each do |strain| %>
                <%= strain_for strain %>
              <% end %>
            </td>
          </tr>
        <% elsif described.respond_to? :strain %>
          <tr>
            <th>Strain :</th>
            <td><%= strain_for described.strain %></td>
          </tr>
        <% end %>

        <% if described.respond_to?(:category) && !described.kind_of?(Container) %>        
        <tr>
          <th>Category :</th>
          <td><%= category_for described.category %></td>
        </tr>
        <% end %>
          
        <% if !described.kind_of?(Lot) && described.respond_to?(:initial_weight) %>
        <tr>
          <th>Initial Weight :</th>
          <td><%= weight_for described.initial_weight %></td>
        </tr>
        <% end %>
       
       <% if described.respond_to? :current_weight %>
        <tr>
          <th>Current Weight :</th>
          <td><%= weight_for described.current_weight %></td>
        </tr>
        <% end %>
        
       <% if described.respond_to? :initial_stock %>
          <tr>
            <th>Initial Stock :</th>
            <td><%= described.initial_stock %></td>
          </tr>
        <% end %>

        <% if described.respond_to? :stock %>
          <tr>
            <th>Stock :</th>
            <td><%= described.stock %></td>
          </tr>
        <% end %>

        <% if described.respond_to? :delta %>
          <tr>
            <th>Delta :</th>
            <td><%= weight_for described.delta %></td>
          </tr>
        <% end %>

        <% if described.respond_to? :delta_old %>
          <tr>
            <th>Prev. Delta :</th>
            <td><%= weight_for described.delta_old %></td>
          </tr>
        <% end %>

        <% if described.respond_to?(:seed) %>
          <tr>
            <th>Seed :</th>
            <td><%= described.seed %></td>
          </tr>
        <% end %>
        
        <% if described.respond_to?(:water_loss) && !described.water_loss.nil? && described.water_loss > 0.0 %>
          <tr>
            <th>Water Loss :</th>
            <td><%= weight_for described.water_loss %></td> 
          </tr>
        <% end %>

        <% if described.respond_to? :bin %>
          <tr>
            <th>Bin :</th>
            <td><%= described.bin %></td> 
          </tr>
        <% end %>

        <% if described.respond_to? :location %>
          <tr>
            <th>Location :</th>
            <td><%= described.location %></td> 
          </tr>
        <% end %>

        <% if described.respond_to? :tested %>
          <tr>
            <th>Tested :</th>
            <td><%= tested_for described.tested %></td> 
          </tr>
        <% end %>

        <% if described.respond_to? :released %>
          <tr>
            <th>Released :</th>
            <td><%= released_for described.released %></td> 
          </tr>
        <% end %>

        <% if described.class == :lot %>
          <tr>
            <th>Brand :</th>
            <td><%= described.brand %></td> 
          </tr>
        <% end %>
   
        </table>
      </div>
      
      <% if !described.kind_of?(Lot) && described.respond_to?(:initial_weight) && described.respond_to?(:current_weight) %>
        <%= render 'shared/progress_bar', weightable: described, color: color %>
      <% end %>
    </div>
  </div> 
</div>
