<div class="box box-solid box-<%= color %>">
  <div class="box-header">
    <%= fa_icon icon %>
    <h3 class="box-title"><%= title %></h3>
  </div>

  <div class="box-body">
    <div class="row">
      <div class="col-lg-10">
      <table class="table table-hover description">

        <tr>
          <th>ID :</th>
          <% if described.respond_to? :name %>
          <td><%= link_to "#{described.name}".upcase, described %>
          <% if described.class == Bag then %>
              <%= test_for described  %>
              <%= archive_for described %>
            <% end %></td>
          <% else %>
          <td>
            <%= link_to "#{described}".upcase, described %>
          </td>
          <% end %>
        </tr>

        <% if described.respond_to? :status %>
        <tr>
          <th>Status :</th>
          <td><%= described.status %></td>
        </tr>
        <% end %>

        <% if described.respond_to? :strain %>
        <tr>
          <th>Strain :</th>
          <td><%= strain_for described.strain %></td>
        </tr>
        <% end %>

        <% if !described.kind_of?(Container) && described.respond_to?(:category) %>        
        <tr>
          <th>Category :</th>
          <td><%= category_for described.category %></td>
        </tr>
        <% end %>
          
        <% if described.respond_to? :initial_weight %>
        <tr>
          <th>Initial Weight :</th>
          <td><%= weight_for described.initial_weight %></td>
        </tr>
        <% end %>
       
       <% if described.respond_to? :current_weight %>
        <tr>
          <th>Current Weight :</th>
          <td><%= weight_for described.current_weight %></td>
        </tr>
        <% end %>

        <% if described.respond_to? :created_at %>
        <tr>
          <th>Created At :</th>
          <td><%= date_for described.created_at %></td>
        </tr>
        <% end %>

        <% if described.respond_to? :updated_at %>
        <tr>
          <th>Updated At :</th>
          <td><%= date_for described.updated_at %></td> 
        </tr>
        <% end %>

        <% if described.respond_to?(:water_loss) && described.water_loss > 0.0 %>
        <tr>
          <th>Water Loss :</th>
          <td><%= weight_for described.water_loss %></td> 
        </tr>
        <% end %>
   
        </table>
      </div>

      <% if described.respond_to?(:initial_weight) && described.respond_to?(:current_weight) %>
      <%= render 'shared/progress_bar', weightable: described, color: color %>
      <% end %>

    </div>
  </div> 
</div>
