<div class="box box-solid box-default">
  <div class="box-header">
    <%= fa_icon 'bars' %><h3 class="box-title">History</h3>
  </div>
  <div class="box-body">
    <table class="table table-hover">
      <tr>
        <th>Source : </th>
        <th>Target : </th>
        <th>Quantity : </th>
        <th>Timestamp : </th>
        <th>User : </th>
        <th>Note : </th>
      </tr>
      <% (described.try(:history).try(:history_lines) || []).sort_by(&:created_at).each do |line| %>
      <tr>
        <td><%= described if described.present? %></td>
        <td><%= line.try(:target) %></td>
        <td><%= weight_for line.try(:quantity) %></td>
        <td><%= date_for line.try(:created_at) %></td>
        <td><%= line.try(:user) %></td>
        <td><%= line.try(:message) %></td>
      </tr>
      <% end %>
      </div>
    </table>
  </div> 
</div>
