<div class="box box-solid box-success">
  <div class="box-header">
    <i class="fa fa-leaf"></i>
    <h3 class="box-title">Timeline</h3>
  </div>
  
  <div class="box-body">
    <table id="timeline" class="table table-hover tablesorter text-center">
      <thead>
        <tr>
          <th class="col-md-3">Event</th>
          <th class="col-md-3">Object</th>
          <th class="col-md-3">Debit (g)</th>
          <th class="col-md-3">Credit (g)</th>
        </tr>
      </thead>

      <tbody>
        <% if    described.kind_of? Plant %>
          <%= render partial: 'shared/timeline/plant',      locals: { plant:  described } %>
        <% elsif described.respond_to? :plants %>
          <%= render partial: 'shared/timeline/plants',     locals: { plants: described.plants } %>
        <% elsif described.respond_to? :plant %>
          <%= render partial: 'shared/timeline/plant',      locals: { plant:  described.plant } %>
        <% end %>

        <% if    described.kind_of? Container %>
          <%= render partial: 'shared/timeline/container',  locals: { container:  described } %>
        <% elsif described.respond_to? :containers %>
          <%= render partial: 'shared/timeline/containers', locals: { containers: described.containers } %>
        <% elsif described.respond_to? :container %>
          <%= render partial: 'shared/timeline/container',  locals: { container:  described.container } %>
        <% end %>

        <% if    described.kind_of? Bag %>
          <%= render partial: 'shared/timeline/bag',        locals: { bag:  described } %>
        <% elsif described.respond_to? :bags %>
          <%= render partial: 'shared/timeline/bags',       locals: { bags: described.bags } %>
        <% elsif described.respond_to? :bag %>
          <%= render partial: 'shared/timeline/bag',        locals: { bag:  described.bag } %>
        <% end %>

        <% if    described.kind_of? Jar %>
          <%= render partial: 'shared/timeline/jar',        locals: { jar:  described } %>
        <% elsif described.respond_to? :jars %>
          <%= render partial: 'shared/timeline/jars',       locals: { jars: described.jars } %>
        <% elsif described.respond_to? :jar %>
          <%= render partial: 'shared/timeline/jar',        locals: { jar:  described.jar } %>
        <% end %>
      </tbody>
      
    </table>
  </div>
</div>