<tr>
  <td><%= check_box_tag :row_selector %></td>
  <td><%= container.name %></td>
  <td><%= container.location %></td>
  <td><%= container.strain %></td>
  <td><%= container.lot %></td>
  <td><%= container.initial_weight %></td>
  <td><%= container.current_weight %></td>
  <td><%= container.water_loss %></td>
  <td><%= container.actions %></td>
</tr>
