<%= form_for(container) do |f| %>
  
  <div class="form-group">
    <%= f.label :plant_ids %>
    <%= f.collection_select(:plant_ids, Plant.all, :id, :to_s, {},
        { multiple: 'multiple', class: 'textboxlist form-control ' }) %>
    <%= display_error_for container, :plant_ids %>
  </div> 
  
  <div class="form-group">
    <%= f.label :name, 'ID' %>
    <%= f.text_field :name, class: 'form-control' %>
    <%= display_error_for container, :name %>
  </div>

  <div class="form-group">
    <%= f.label :location_id %>
    <%= f.collection_select(:location_id, Location.all, :id, :to_s, {}, { class: 'form-control' }) %>
    <%= display_error_for container, :location_id %>
  </div>

  <div class="input-group">
    <%= f.submit nil, class: 'btn btn-flat btn-primary' %>
  </div>

<% end %>
