
    <div class="box box-solid box-info">
      <div class="box-header">
        <h3 class="box-title">Listing containers</h3>
        <div class="box-tools">
          <div class="input-group">
            <%= form_tag(containers_path, :method => "get", id: "search-form") do %>
              <%= text_field_tag :search, params[:search], placeholder: "Search", class: "form-control input-sm pull-right" %>
            <% end %>
          </div>
        </div>
      </div><!-- /.box-header -->

      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tr>
            <th></th>
            <th><%= sortable :id, 'ID' %></th>
            <th><%= sortable :name %></th>
            <th><%= sortable :strain %></th>
            <th><%= sortable :category %></th>
            <th><%= sortable :lot_id %></th>
            <th><%= sortable :initial_weight %></th>
            <th><%= sortable :current_weight %></th>
            <th><%= sortable :created_at %></th>
            <th><%= sortable :updated_at %></th>
            <th>Actions :</th>
          </tr>

          <% containers.each do |container| %>
          <tr>
            <td><%# check_box_tag :accept %></td>
            <td><%= container.try(:id) if container.present? %></td>
            <td><%= container.try(:to_s) if container.present? %></td>
            <td><%= strain_for container.try(:strain) if container.present? %></td>
            <td><%= category_for container.try(:category) if container.present? %></td>
            <td><%= container.try(:lot) if container.present? %></td>
            <td><%= weight_for container.try(:initial_weight) if container.present? %></td>
            <td><%= weight_for container.try(:current_weight) if container.present? %></td>
            <td><%= date_for container.try(:created_at) %></td>
            <td><%= date_for container.try(:updated_at) %></td>
            <td>
             <!-- <a href="#" class="btn-sm btn-flat btn-success" data-toggle="modal" data-target="#<%= container.id %>"><i class="fa fa-tags"></i> Containers</a> -->
              <%= link_to "#{fa_icon('tag')} New Bag".html_safe, '#', class: 'btn-sm btn-flat btn-warning', data: { toggle: 'modal', target: '.new-bag' } %>
              <%= link_to "#{fa_icon('tags')} Show".html_safe, container, class: "btn-sm btn-flat btn-info" %>
              <%= link_to "#{fa_icon('circle')} Edit".html_safe, edit_container_path(container), class: "btn-sm btn-flat btn-warning" %>
            </td>
          </tr>
          <% end %>
        </table>
      </div><!-- /.box-body -->
    </div>


    <div class="tableFooter">
        <a href="#" class="btn btn-flat btn-info" data-toggle="modal" data-target=".new-container"><i class="fa fa-tags"></i> New container</a>

        <%=  paginate containers %>
    </div>

    <div class="modal fade new-container" tabindex="-1" role="dialog" aria-labelledby="New Container" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <h3>Create a new container</h3>
          <%= render 'containers/form' %>
        </div>
      </div>
    </div>