<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-lg-6">
	<p>
	  <strong>Name:</strong>
	  <%= @container.name %>
	</p>

	<p>
	  <strong>Lot:</strong>
	  <%= @container.lot_id %>
	</p>

	<p>
	  <strong>Current weight:</strong>
	  <%= @container.current_weight %>
	</p>

	<p>
	  <strong>Initial weight:</strong>
	  <%= @container.initial_weight %>
	</p>
  </div>
</div>

<%= link_to 'Edit', edit_container_path(@container) %> |
<%= link_to 'Back', containers_path %>
