<%= container.try(:to_s) if container.present? %>

<div class="row">
  <div class="col-lg-6">
  	<% container.attributes.each do |name, value| %>
		<p><strong><%= name.titleize %> :</strong> <%= container.try(name.to_sym) %></p>
		<% end %>
  </div>
</div>

<%= link_to 'Edit', edit_container_path(container) %> |
<%= link_to 'Back', containers_path %>
