<p id="notice"><%= notice %></p>

<p>
  <strong>Weighted at:</strong>
  <%= weight.weighted_at %>
</p>

<p>
  <strong>Value:</strong>
  <%= weight.value %>
</p>

<%= link_to 'Edit', edit_weight_path(weight) %> |
<%= link_to 'Back', weights_path %>
