<tr>
  <td>
    <%= date_for bag.created_at %>
  </td>
  
  <td>
    <%= link_to "#{bag.container}", bag.container, class: "btn-sm btn-flat btn-primary" %>
  </td>
  
  <td>
    <%= weight_for bag.initial_weight, '' %>
  </td>

  <td>
    
  </td>
</tr>

<tr>
  <td>
    <%= date_for bag.created_at %>
  </td>
  
  <td>
    <%= link_to "#{bag}".html_safe, bag, class: "btn-sm btn-flat btn-warning" %>
  </td>
  
  <td>
    
  </td>

  <td>
    <%= weight_for bag.initial_weight, '' %>
  </td>
</tr>