<% container.transactions.each do |transaction| %>
  <tr class="<%= !transaction.target.nil? && transaction.target.kind_of?(Waste) ? 'danger' : '' %>">
    <td>
      <%= date_for transaction.event %>
    </td>
    
    <td>
      <%= link_to_unless (transaction.target.nil? || transaction.target.kind_of?(Waste) || transaction.target.kind_of?(Harvest)), "#{transaction.target}", transaction.target, class: "btn-sm btn-flat btn-primary" %>
    </td>
    
    <td>
      <%= fa_icon 'arrow-left' %>
    </td>
    
    <td>
      <%= weight_for transaction.weight %>
    </td>
    
    <td>
      <%= fa_icon 'arrow-left' %>
    </td>
    
    <td>
      <%= link_to_unless (transaction.source.nil? || transaction.source.kind_of?(Waste) || transaction.source.kind_of?(Harvest)), "#{transaction.source}", transaction.source, class: "btn-sm btn-flat btn-primary" %>
    </td>
  </tr>
<% end %>