<tr>
  <td><%= check_box_tag :row_selector %></td>
  <td><%= bag.name %></td>
  <td><%= bag.strain %></td>
  <td><%= bag.initial_weight %></td>
  <td><%= bag.current_weight %></td>
  <td><%= bag.location %></td>
  <td><%= bag.delta %></td>
  <td><%= bag.previous_delta %></td>
  <td><%= bag.status %></td>
  <td><%= bag.lot %></td>
  <td><%= bag.actions %></td>
</tr>