<%= form_for(bag) do |f| %>
  <div class="form-group">
    <%= f.label :lot_id %>
    <%= f.collection_select :lot_id, Lot.all, :id, :name, {},
        selected: bag.lot_id, class: 'form-control' %>
    <%= display_error_for bag, :lot_id %>
  </div>

  <div class="form-group">
    <%= f.label :container_id %>
    <%= f.collection_select :container_id, Container.all, :id, :name, {},
        selected: bag.container_id, id: 'new-bag-container', class: 'form-control' %>
    <%= display_error_for bag, :container_id %>
  </div>

  <div class="form-group">
    <%= f.label :bin_id %>
    <%= f.collection_select :bin_id, Bin.all, :id, :name, {},
        selected: bag.bin_id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :packaged_at %><br>
    <%= f.datetime_select :packaged_at, class: 'form-control' %>
  </div>

  <div class="input-group">
    <%= f.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
