<div class="box box-solid box-warning">
  <div class="box-header">
    <h3 class="box-title">Listing bags</h3>
    <div class="box-tools">
      <div class="input-group">
        <%= form_tag(bags_path, :method => "get", id: "search-form", remote: true, autocomplete: 'off') do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search", class: "form-control input-sm pull-right" %>
        <% end %>
        <div class="input-group-btn">
          <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </div>

  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <tr>
        <th><%= check_box_tag :accept %></th>
        <th><%= sortable :name, 'ID' %></th>
        <th><%= sortable :strain %></th>
        <th><%= sortable :category %></th>
        <th><%= sortable :initial_weight %></th>
        <th><%= sortable :current_weight %></th>
        <th><%= sortable :recalled %></th>
        <th><%= sortable :quarantined %></th>
        <th><%= sortable :created_at %></th>
        <th><%= sortable :updated_at %></th>
        <th><%= sortable :lot_id, 'Origins' %></th>
        <th>Actions</th>
      </tr>
      <tbody id="table">
        <%= render 'bags/ajax/table' %>
      </tbody>
    </table>
  </div><!-- /.box-body -->    
</div><!-- /.box -->

<div class="tableFooter">
  <%= link_to "#{fa_icon 'tag'} New Bag".html_safe, '#', class: 'btn btn-flat btn-warning',
      data: { toggle: 'modal', target: '.new-bag'} %>
  <div id="paginator">
    <%= paginate bags %>
  </div>
</div>

<%= render 'jars/modal/new' %>
<%= render 'bags/modal/new' %>