<div class="box box-solid box-warning">
  <div class="box-header">
    <h3 class="box-title">Listing bags</h3>
    <div class="box-tools">
      <div class="input-group">
        <input type="text"
               name="table_search"
               class="form-control input-sm pull-right"
               style="width: 150px;"
               placeholder="Search"/>

        <div class="input-group-btn">
          <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </div><!-- /.box-header -->

  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <tr>
        <th><input id="accept" name="accept" type="checkbox" style="height:100%, width:100%" /></th>
        <th><%= sortable :name %></th>
        <th>Strain</th>
        <th>Category</th>
        <th><%= sortable :initial_weight %></th>
        <th><%= sortable :current_weight %></th>
        <th><%= sortable :created_at %></th>
        <th><%= sortable :updated_at %></th>
        <th><%= sortable :lot_id, 'Origin' %></th>
        <th>Actions :</th>
      </tr>
            
      <% bags.each do |bag| %>
      <tr>
        <td></td>
        <td><%= bag %></td>
        <td><%= bag.lot.strain unless bag.lot.nil? %></td>
        <td><%= bag.lot.category unless bag.lot.nil? %></td>
        <td>
          <%= number_with_precision((bag.initial_weight.nil? ? 0 : bag.initial_weight), precision: 2)%> g
        </td>
        <td>
          <%= number_with_precision((bag.current_weight.nil? ? 0 : bag.current_weight), precision: 2)%> g
        </td>
        <td><%= bag.created_at.to_s :short %></td>
        <td><%= bag.updated_at.to_s :short %></td>
        
        <td>
          <%= link_to "#{fa_icon('tag')} #{bag.lot}".html_safe, lot_path(bag.lot), class: "btn-sm btn-flat btn-info" %>
        </td>

        <td>
          <%= link_to "#{fa_icon 'flask'} New Jar".html_safe, '#', class: 'btn-sm btn-flat btn-danger',
              data: { toggle: 'modal', targer: '.new-jar' } %>
          
          <%= link_to "#{fa_icon 'tag'} Show".html_safe, bag, class: "btn-sm btn-flat btn-warning" %>
          
          <% if can? :send_to_lab, bag %>
          <%= link_to "#{fa_icon 'flask'} To Lab".html_safe, '#', class: "btn-sm btn-flat btn-info" %>
          <%= link_to "#{fa_icon('circle')} Edit".html_safe, edit_bag_path(bag), class: "btn-sm btn-flat btn-warning" %>

          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div><!-- /.box-body -->    
</div><!-- /.box -->

<div class="tableFooter">
 <!-- <div class="btn-group">
    <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <button type="button" class="btn btn-info btn-flat">Action</button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">Curing</a></li>
      <li><a href="#">Drying</a></li>
      <li><a href="#">Change RFID</a></li>
      <li><a href="#">Vers Lots</a></li>
      <li class="divider"></li>
      <li><a href="#">Récolter</a></li>
      <li><a href="#">Détruire</a></li>
    </ul>
  </div>-->
    <a href="#" class="btn btn-flat btn-warning" data-toggle="modal" data-target=".new-bag"><i class="fa fa-tag"></i> New Bag</a>
</div>

<%= render 'jars/modal/new', bag: bag %>

<%= render 'bags/modal/new' %>