<div class="box box-solid box-warning">
  <div class="box-header">
    <h3 class="box-title">Listing bags</h3>
    <div class="box-tools">
      <div class="input-group">
        <input type="text"
               name="table_search"
               class="form-control input-sm pull-right"
               style="width: 150px;"
               placeholder="Search"/>
        <div class="input-group-btn">
          <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </div>

  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <tr>
        <th><input id="accept" name="accept" type="checkbox" style="height:100%, width:100%" /></th>
        <th><%= sortable :name, "ID" %></th>
        <th><%= sortable :strain %></th>
        <th><%= sortable :category %></th>
        <th><%= sortable :initial_weight %></th>
        <th><%= sortable :current_weight %></th>
        <th><%= sortable :created_at %></th>
        <th><%= sortable :updated_at %></th>
        <th><%= sortable :lot_id, 'Origin' %></th>
        <th>Actions</th>
      </tr>
      <% bags.each do |bag| %>
      <tr>
        <td></td>
        <td><%= bag %></td>
        <td><%= bag.strain unless bag.container.nil? %></td>
        <td><%= bag.container.lot.category unless bag.container.nil? %></td>
        <td>
          <%= number_with_precision((bag.initial_weight.nil? ? 0 : bag.initial_weight), precision: 2)%> g
        </td>
        <td>
          <%= number_with_precision((bag.current_weight.nil? ? 0 : bag.current_weight), precision: 2)%> g
        </td>
        <td><%= bag.created_at.to_s :short %></td>
        <td><%= bag.updated_at.to_s :short %></td>
        
        <td>

          <% if can? :show, Lot %>
          <%= link_to "#{fa_icon('tag')} #{bag.lot}".html_safe, bag.lot, class: "btn-sm btn-flat btn-info" %>
          <% end %>
        </td>

        <td>
          <% if can? :create, Jar %>
          <%= link_to "#{fa_icon 'flask'} New Jar".html_safe, '#', class: 'btn-sm btn-flat btn-danger',
              data: { toggle: 'modal', target: '.new-jar' } %>
          <% end %>

          <% if can? :show, bag %>
          <%= link_to "#{fa_icon 'tag'} Show".html_safe, bag, class: "btn-sm btn-flat btn-warning" %>
          <% end %>

          <% if can? :send_to_lab, bag %>
          <%= link_to "#{fa_icon 'flask'} To Lab".html_safe, '#', class: "btn-sm btn-flat btn-info" %>
          <% end %>

          <% if can? :edit, bag %>
          <%= link_to "#{fa_icon('circle')} Edit".html_safe, edit_bag_path(bag), class: "btn-sm btn-flat btn-warning" %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div><!-- /.box-body -->    
</div><!-- /.box -->

<div class="tableFooter">
  <%= link_to "#{fa_icon 'tag'} New Bag".html_safe, '#', class: 'btn btn-flat btn-warning',
      data: { toggle: 'modal', target: '.new-bag'} %>
</div>

<%= render 'jars/modal/new', bag: bag %>
<%= render 'bags/modal/new' %>