<div class="box box-solid box-warning">
  <%= render 'shared/box_header', described: :bags %>
  <%= render 'shared/box_table', described: :bags %>
</div>
<div class="tableFooter">
  <%= link_to "#{fa_icon 'tag'} New Bag".html_safe, '#', class: 'btn btn-flat btn-warning',
      data: { toggle: 'modal', target: '.new-bag'} %>
  <div id="paginator">
    <%= paginate bags %>
  </div>
</div>


<%= render 'jars/modal/new' %>
<%= render 'bags/modal/new' %>
