<script>
  var autoRefresh = setInterval(function() {
    $("#reweight-bag-scale-1-readings").load("http://localhost:8080/data").fadeIn("slow");
  }, 100);

  scanBag = function() {
    $.ajax({
      url: '<%= scan_bag_path(bag) %>',
      type: 'POST'
    }).done(function(data) {
      console.log("RESPONSE : "data);
    });
  }
</script>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><strong>Bag Reweight</strong></h3>
  </div>

  <div class="panel-body">
    
    <%= form_for bag, url: scan_bag_path(bag), method: :post, html: { id: 'reweight-bag-scan' } do |f| %>
      <div id="reweight-bag-step-1">
        <p class="alert alert-info"><strong>Please scan bag...</strong></p>
        <!-- <p class="alert alert-danger"><strong>Wrong bag!</strong></p> -->
        <div id="reweight-bag-scan">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <div class="form-group">
                <div class="input-group">
                  <%= f.label :scanned_hash, class: 'input-group-addon' do %>
                    <strong class="col-md-2">Scan Bag :</strong>
                  <% end %>

                  <%= f.text_field :scanned_hash, id: 'reweight-bag', class: 'form-control' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <%= form_for bag, url: reweight_bag_path(bag), method: :post do |f| %>
      <div id="reweight-bag-step-2">
        <p class="alert alert-info"><strong>Please put bag on scale 1...</strong></p>
      </div>

      <div id="reweight-bag-scale-display">
        <div class="row">
          <div class="col-md-6 col-md-offset-6">
            <div class="form-group">
              <div class="input-group">
                <%= f.label :weight, class: 'input-group-addon' do %>
                  <strong>Weight (Scale 1) :</strong>
                <% end %>

                <%= f.text_field :weight, id: 'reweight-bag-scale-1-readings',
                    class: 'form-control text-center', disabled: true %>
                
                <div class="input-group-btn">
                  <%= link_to '#', class: 'btn btn-primary', id: 'reweight-zero-scale-1-btn' do %>
                    <strong>ZERO</strong>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="reweight-bag-step-3">
        <div class="form-group">
          <%= f.label :message %>
          <%= f.text_area :message, class: 'form-control' %>
        </div>

        <%= f.submit 'Commit Reweight', class: 'btn btn-primary' %>
      </div>
    <% end %>

  </div>
</div>