<p id="notice"><%= notice %></p>
<h4><%= bag.name %></h4>
<div class="row">
  <div class="col-lg-2">
    <div class="box-header">
      <h3 class="box-title">Links</h3>
    </div>
    <a class="btn btn-block btn-danger" data-toggle="modal" data-target=".newJar"><i class="fa fa-flask"></i> New Jar</a>
    <%= link_to '<i class="fa fa-tags"></i> '.html_safe + bag.lot, bag.lot, class: "btn btn-block btn-info" %>
  </div>
  <div class="col-lg-5">
    <div class="box box-solid box-warning">
      <div class="box-header">
      <i class="fa fa-tag"></i>
      <h3 class="box-title">Description</h3>
      </div> 
      <div class="box-body">
        <div class="row">
          <div class="col-lg-10">
            <dl class="dl-horizontal description">
              <dt>ID :</dt>
              <dd><%= bag.id %></dd>
              <dt>Name :</dt>
              <dd>Bag<%= " #{bag.id} #{bag.lot.strain.acronym} " + bag.created_at.strftime('%m%y') %></dd>
              <dt>Strain :</dt>
              <dd><%= bag.lot.strain %></dd>
              <dt>Initial Weight: </dt>
              <dd><%= number_with_precision(
                (bag.initial_weight.nil? ? 0 : bag.initial_weight) , precision: 2)
                %> g
              </dd>
              <dt>Current Weight :</dt>
              <dd><%= number_with_precision(
                (bag.current_weight.nil? ? 0 : bag.current_weight) , precision: 2)
                %> g
              </dd>
              <dt>Created At:</dt>
              <dd><%= bag.created_at.to_s :short %></dd>
              <dt>Updated At :</dt>
              <dd><%= bag.updated_at.to_s :short %></dd> 
            </dl>
          </div>
          <div class="col-lg-2">
            <div class="progress vertical">
              <div class="progress-bar progress-bar-yellow" role="progressbar" aria-valuenow="<%= percent_of_weight(bag) %>" aria-valuemin="0" aria-valuemax="100" style="height: <%= percent_of_weight(bag) %>%">
                <span class="sr-only"><%= percent_of_weight(bag) %>%</span>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
  <div class="col-lg-5">
    <div class="box box-solid box-info">
      <div class="box-header">
        <i class="fa fa-tags"></i>
        <h3 class="box-title">Origin</h3>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-lg-10">
            <dl class="dl-horizontal description">
              <dt>ID :</dt>
              <dd><%= bag.lot.id %></dd>
              <dt>Name :</dt>
              <dd>Lot <%= "#{bag.lot.id} #{bag.lot.strain.acronym} " + bag.lot.created_at.strftime('%m%y') %></dd>
              <dt>Strain :</dt>
              <dd><%= bag.lot.strain %></dd>
              <dt>Type :</dt>
              <dd><%= bag.lot.category %></dd>
              <dt>Initial Weight :</dt>
              <dd><%= number_with_precision(
                (bag.lot.initial_weight.nil? ? 0 : bag.lot.initial_weight) / 1000.0, precision: 2)
                %> g
              </dd>
              <dt>Current Weight :</dt>
              <dd><%= number_with_precision(
                (bag.lot.current_weight.nil? ? 0 : bag.lot.current_weight) / 1000.0, precision: 2)
                %> g
              </dd>
              <dt>Created At :</dt>
              <dd><%= bag.lot.created_at.to_s :short %></dd>
              <dt>Updated At :</dt>
              <dd><%= bag.lot.updated_at.to_s :short %></dd>
            </dl>
          </div>
          <div class="col-lg-2">
            <div class="progress vertical">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="<%= percent_of_weight(bag.lot) %>" aria-valuemin="0" aria-valuemax="100" style="height: <%= percent_of_weight(bag.lot) %>%">
                <span class="sr-only"><%= percent_of_weight(bag.lot) %>%</span>
              </div>
            </div>
          </div>
      </div> 
    </div>
  </div>
</div>
</div>
  <div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-7">
      <div class="box box-solid box-danger">
        <div class="box-header">
          <i class="fa fa-flask"></i>
          <h3 class="box-title">History</h3>
         </div>
        <div class="box-body">
        <ul class="timeline">
    <!-- timeline time label -->
    <li class="time-label">
        <span class="">
            <span class="time"><%= bag.created_at.to_s :short %></span>
        </span>
    </li>
    <!-- /.timeline-label -->

      <% bag.history.history_lines.each do |lines| %>

      <!-- timeline item -->
        <li>
            <!-- timeline icon -->
            <i class="fa fa-flask bg-red"></i>
            <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> <%= lines.created_at.to_s :short %></span>
                <h3 class="timeline-header">New Jar</h3>
                <div class="timeline-body">
            
                <br/>
                  <a class="btn btn-warning btn-xs"><i class="fa fa-tag"></i><%= ' '+ bag.id.to_s + ' ' + bag.lot.strain.acronym %></a> send <%= lines.quantity %> g to <%= link_to "#{fa_icon('flask')} #{lines.target.id} #{bag.lot.strain.acronym}".html_safe, jar_path, class: "btn btn-danger btn-xs" %>
                  </div>
                <div class="timeline-footer">
                Done by User
                </div>
            </div>
        </li>
        <!-- END timeline item -->
      
          <%  end %>
          </ul>
        </div> 
      </div>
    </div>
    <div class="col-lg-3">
    </div>
  </div>

    
<!--<%= link_to 'Edit', edit_bag_path(bag) %> | -->
<%= link_to 'Back', bags_path %>
