<p id="notice"><%= notice %></p>
<h3>Bag #<%= bag.id %></h3>
<ul style="list-style-type: none; padding-left: 0;">
  <li><strong>ID :</strong><%= bag.id %></li>
  <li><strong>Strain :</strong><%= bag.lot.strain unless bag.lot.nil? %></li>
  <li><strong>Type :</strong><%= bag.lot.category unless bag.lot.nil? %></li>
  <li><strong>Initial Weight :</strong><%= bag.initial_weight/1000 %> g</li>
  <li><strong>Weight :</strong><%= bag.initial_weight/1000 %> g</li>
  <li><strong>Origin - Lot :</strong><%= bag.lot unless bag.lot.nil? %></li>
  <li><strong>Origin - Plant :</strong> Plant_YO #001</li>
</ul>

<%= link_to 'Edit', edit_bag_path(bag) %> |
<%= link_to 'Back', bags_path %>
