<h4><%= bag %></h4>
<div class="row">
  <div class="col-lg-6">
    <div class="box box-solid box-warning">
      <div class="box-header">
      <i class="fa fa-tag"></i>
      <h3 class="box-title">Description</h3>
      </div> 
      <div class="box-body">
        <div class="row">
          <div class="col-lg-10">
            <dl class="dl-horizontal description">
              <dt>ID :</dt>
              <dd><%= bag.id %></dd>
              <dt>Name :</dt>
              <dd><%= "#{bag}"%></dd>
              <dt>Strain :</dt>
              <dd><%= bag.strain unless bag.lot.nil? %></dd>
              <dt>Type :</dt>
              <dd><%= bag.category unless bag.lot.nil? %></dd>
              <dt>Initial Weight: </dt>
              <dd>
                <%= number_with_precision((bag.initial_weight.nil? ? 0 : bag.initial_weight), precision: 2) %> g
              </dd>
              <dt>Current Weight :</dt>
              <dd>
                <%= number_with_precision((bag.current_weight.nil? ? 0 : bag.current_weight), precision: 2) %> g
              </dd>
              <dt>Created At:</dt>
              <dd><%= bag.created_at.to_s :short %></dd>
              <dt>Updated At :</dt>
              <dd><%= bag.updated_at.to_s :short %></dd> 
            </dl>
          </div>
          <div class="col-lg-2">
            <div class="progress vertical">
              <div class="progress-bar progress-bar-yellow" role="progressbar" aria-valuenow="<%= percent_of_weight(bag) %>" aria-valuemin="0" aria-valuemax="100" style="height: <%= percent_of_weight(bag) %>%">
                <span class="sr-only"><%= percent_of_weight(bag) %>%</span>
              </div>
            </div>
            <span><%= percent_of_weight(bag) %>%</span>
          </div>
        </div>
      </div> 
    </div>
  </div>
  <div class="col-lg-6">
    <div class="box box-solid box-info">
      <div class="box-header">
        <i class="fa fa-tags"></i>
        <h3 class="box-title">Origin</h3>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-lg-10">
            <dl class="dl-horizontal description">
              <dt>ID :</dt>
              <dd><%= bag.lot.id unless bag.lot.nil? %></dd>
              <dt>Name :</dt>
              <dd><%= "#{bag.lot}" %></dd>
              <dt>Strain :</dt>
              <dd><%= bag.lot.strain unless bag.lot.nil? %></dd>
              <dt>Type :</dt>
              <dd><%= bag.lot.category unless bag.lot.nil? %></dd>
              <dt>Initial Weight :</dt>
              <dd>
                <% unless bag.lot.nil? %>
                <%= number_with_precision((bag.lot.initial_weight.nil? ? 0 : bag.lot.initial_weight), precision: 2) %> g
                <% end %>
              </dd>
              <dt>Current Weight :</dt>
              <dd>
                <% unless bag.lot.nil? %>
                <%= number_with_precision((bag.lot.current_weight.nil? ? 0 : bag.lot.current_weight), precision: 2) %> g
                <% end %>
              </dd>
              <dt>Created At :</dt>
              <dd>
                <% unless bag.lot.nil? %>
                <%= bag.lot.created_at.to_s :short %>
                <% end %>
              </dd>
              <dt>Updated At :</dt>
              <dd>
                <% unless bag.lot.nil? %>
                <%= bag.lot.updated_at.to_s :short %>
                <% end %>
              </dd>
            </dl>
          </div>
          <% unless bag.lot.nil? %>
          <div class="col-lg-2">
            <div class="progress vertical">
              <div class="progress-bar progress-bar-info"
                   role="progressbar"
                   aria-valuenow="<%= percent_of_weight(bag.lot) %>"
                   aria-valuemin="0"
                   aria-valuemax="100"
                   style="height: <%= percent_of_weight(bag.lot) %>%">
                <span class="sr-only"><%= percent_of_weight(bag.lot) %>%</span>
              </div>
            </div>
            <span><%= percent_of_weight(bag) %>%</span>
          </div>
          <% end %>
        </div> 
      </div>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-lg-6">
      <div class="box box-solid box-danger">
        <div class="box-header">
          <i class="fa fa-flask"></i>
          <h3 class="box-title">History</h3>
         </div>
        <div class="box-body">
          <table class="table table-hover">
          <div role="tabpanel">

            </div>
            <tr>
              <td>Source : </td>
              <td>Target : </td>
              <td>Quantity : </td>
              <td>Timestamp : </td>
              <td>User : </td>
            </tr>
            <div class="nav nav-pills" role="pilllist">
              <tr>
                <td>
                  <% unless bag.lot.nil? %>
                  <a href="#id<%= bag.lot.id %>"
                     aria-controls="id<%= bag.lot.id %>"
                     role="tab"
                     data-toggle="tab"><%= bag.lot %></a>
                  <% end %>
                </td>
                <td><%= bag %></td>
                <td><%= bag.initial_weight %></td>
                <td><%= bag.created_at.to_s :short %></td>
                <td><!--<%# bag.history.history_lines.first.user %>--></td>
              </tr>
              <% bag.history.history_lines.each do |line| %>
              <% next if line.target == bag.lot %>
                <tr>
                  <td><%= bag %></td>
                  <td><a href="#<%= line.id %>" aria-controls="<%= line.id %>" role="tab" data-toggle="tab"><%= line.target %></a></td>
                  <td><%= line.quantity %></td>
                  <td><%= line.created_at.to_s :short %></td>
                  <td><!--<%#  line.user %>--></td>
                </tr>
              <% end %>
            </div>
          </table>
        </div> 
      </div>
    </div>
    <div class="col-lg-6">
      <div class="box box-solid box-danger">
        <div class="box-header">
          <i class="fa fa-flask"></i>
          <h3 class="box-title">History</h3>
        </div>
        <div class="box-body">
          <div class="tab-content">
            <% unless bag.lot.nil? %>
            <div role="tabpanel" class="tab-pane fade" id="id<%= bag.lot.id %>"></div>
            <% end %>
            <% bag.history.history_lines.each do |line| %>
              <div role="tabpanel" class="tab-pane fade" id="<%= line.id %>">
                <table class="table table-hover">
                  <div role="tabpanel">
                    <tr>
                      <% line.target.history.history_lines.each do |subline| %>
                      <td><%= subline.source %></td>
                      <td><%= subline.target %></td>
                      <td><%= subline.quantity %> g</td>
                      <td><%= subline.created_at.to_s :short %></td>
                      <% end %>
                    </tr>
                  </div>
                </table>
              </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
    
<!--<%= link_to 'Edit', edit_bag_path(bag) %> | -->
<%= link_to 'Back', bags_path %>
