<p id="notice"><%= notice %></p>
<h4><%= bag.name %></h4>
<div class="row">
  <div class="col-lg-2">
    <div class="box-header">
      <h3 class="box-title">Links</h3>
    </div>
    <a class="btn btn-block btn-danger" data-toggle="modal" data-target=".newJar"><i class="fa fa-flask"></i> New Jar</a>
    <%= link_to '<i class="fa fa-tags"></i> '.html_safe + bag.lot, bag.lot, class: "btn btn-block btn-info" %>
  </div>
  <div class="col-lg-5">
    <div class="box box-solid box-warning">
      <div class="box-header">
      <i class="fa fa-tag"></i>
      <h3 class="box-title">Description</h3>
      </div> 
      <div class="box-body">
        <div class="row">
          <div class="col-lg-10">
            <dl class="dl-horizontal description">
              <dt>ID :</dt>
              <dd><%= bag.id %></dd>
              <dt>Name :</dt>
              <dd><%= bag %></dd>
              <dt>Strain :</dt>
              <dd><%= bag.lot.strain %></dd>
              <dt>Initial Weight: </dt>
              <dd><%= bag.initial_weight %></dd>
              <dt>Current Weight: </dt>
              <dd><%= bag.current_weight %></dd>
              <dt>Created At :</dt>
              <dd><%= bag.created_at.to_s :short %></dd>
              <dt>Created At :</dt>
              <dd><%= bag.updated_at.to_s :short %></dd> 
            </dl>
          </div>
          <div class="col-lg-2">
            <div class="progress vertical">
              <div class="progress-bar progress-bar-yellow" role="progressbar" aria-valuenow="<%= percent_of_weight(bag) %>" aria-valuemin="0" aria-valuemax="100" style="height: <%= percent_of_weight(bag) %>%">
                <span class="sr-only"><%= percent_of_weight(bag) %>%</span>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
  <div class="col-lg-5">
    <div class="box box-solid box-info">
      <div class="box-header">
        <i class="fa fa-tags"></i>
        <h3 class="box-title">Origin</h3>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-lg-10">
            <dl class="dl-horizontal description">
              <dt>ID :</dt>
              <dd><%= bag.lot.id %></dd>
              <dt>Name :</dt>
              <dd><%= bag.lot.name %></dd>
              <dt>Strain :</dt>
              <dd><%= bag.lot.strain %></dd>
              <dt>Type :</dt>
              <dd><%= bag.lot.category %></dd>
              <dt>Initial Weight :</dt>
              <dd><%= number_with_precision(
                (bag.lot.initial_weight.nil? ? 0 : bag.lot.initial_weight) / 1000.0, precision: 2)
                %> g
              </dd>
              <dt>Current Weight :</dt>
              <dd><%= number_with_precision(
                (bag.lot.current_weight.nil? ? 0 : bag.lot.current_weight) / 1000.0, precision: 2)
                %> g
              </dd>
              <dt>Created At :</dt>
              <dd><%= bag.lot.created_at.to_s :short %></dd>
              <dt>Updated At :</dt>
              <dd><%= bag.lot.updated_at.to_s :short %></dd>
            </dl>
          </div>
          <div class="col-lg-2">
            <div class="progress vertical">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="<%= percent_of_weight(bag.lot) %>" aria-valuemin="0" aria-valuemax="100" style="height: <%= percent_of_weight(bag.lot) %>%">
                <span class="sr-only"><%= percent_of_weight(bag.lot) %>%</span>
              </div>
            </div>
          </div>
      </div> 
    </div>
  </div>
</div>
  <div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-5">
      <div class="box box-solid box-danger">
        <div class="box-header">
          <i class="fa fa-flask"></i>
          <h3 class="box-title">History</h3>
          <div class="box-tools pull-right">
            <!--<button class="btn btn-success btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button class="btn btn-success btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>-->
          </div>
        </div>
        <div class="box-body">
          <% #bag.history.history_lines.each do |lines| %>
          <div class="box box-solid collapsed-box">
            <div class="box-header">
              <h3 class="box-title">Default Solid Box</h3>
              <div class="box-tools pull-right">
                <button class="btn btn-default btn-sm" data-widget="collapse"><i class="fa fa-plus"></i></button>
                <button class="btn btn-default btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body" style="display: none;">
          
            </div> 
          </div>
          <% # end %>
        </div> 
      </div>
    </div>
    <div class="col-lg-3">
    </div>
  </div>

    
<!--<%= link_to 'Edit', edit_bag_path(bag) %> | -->
<%= link_to 'Back', bags_path %>
