<%= form_for(order) do |f| %>

  <% if Rails.env.development? %>
    <%= f.hidden_field :ces_order_id, value: SecureRandom.random_number(999) %>
  <% end %>

  <div class="form-group">
    <%= f.label :customer %><br>
    <%= f.text_field :customer, class: 'form-control' %>
    <%= display_error_for order, :customer %>
  </div>

  <div class="form-group">
    <%= f.label :ordered_at %><br>
    <%= f.text_field :ordered_at, class: 'form-control', value: DateTime.now %>
    <%= display_error_for order, :ordered_at %>
  </div>

  <div class="form-group">
    <%= f.label :shipped_at %><br>
    <%= f.text_field :shipped_at, class: 'form-control', value: nil %>
    <%= display_error_for order, :shipped_at %>
  </div>

  <div class="form-group">
    <% order.order_lines.build %>
    
    <%= f.fields_for :order_lines do |order_lines_fields| %>
    
    <%= order_lines_fields.label :brand_id %>
    <%= order_lines_fields.collection_select :brand_id, Brand.all, :id, :name, {} , class: 'form-control' %>
    <%= display_error_for order_lines_fields.object, :brand %>

    <%= order_lines_fields.label :quantity %>
    <%= order_lines_fields.text_field :quantity, class: 'form-control' %>
    <%= display_error_for order_lines_fields.object, :quantity %>      
    
    <% end %>
  </div>

  <div class="form-group">
    <%= f.submit :submit, class: 'btn btn-primary' %>
  </div>

<% end %>
