<!-- Modal -->
<div class="modal fade"
     id="fulfillment-list"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
     
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Fulfillment List</h4>
      </div>
      
      <div class="modal-body">
        <div class="well">
          <legend><strong class="text-primary">Bins</strong></legend>
          <ol style="list-style-type: none; padding-left: 0;">
            <% brands.each do |brand| %>
              <% next if bins.by_brands(brand).empty? %>
              <strong class="text-primary"><%= brand %></strong>
              <% bins.by_brands(brand).each_slice(4) do |slice| %>
                <div class="row">
                  <% slice.each do |bin| %>
                    <li class="col-md-3" style="display: inline-block;">
                      <%= "#{fa_icon 'square'} #{bin}".html_safe %>
                    </li>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </ol>
        </div>

        <div class="well">
          <legend><strong class="text-primary">Bags</strong></legend>
          <ol style="list-style-type: none; padding-left: 0;">
            <% brands.each do |brand| %>
              <% next if bags.by_brands(brand).empty? %>
              <strong class="text-primary"><%= brand %></strong>
              <% bags.by_brands(brand).each_slice(4) do |slice| %>
                <div class="row">
                  <% slice.each do |bag| %>
                    <li class="col-md-3" style="display: inline-block;">
                      <%= "#{fa_icon 'tag'} #{bag}".html_safe %>
                    </li>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </ol>
        </div>

        <div class="well">
          <legend><strong class="text-primary">Jars</strong></legend>
          <ol style="list-style-type: none; padding-left: 0;">
            <% brands.each do |brand| %>
              <% next if jars.by_brands(brand).empty? %>
              <strong class="text-primary"><%= brand %></strong>
              <% jars.by_brands(brand).each_slice(4) do |slice| %>
                <div class="row">
                  <% slice.each do |jar| %>
                    <li class="col-md-3" style="display: inline-block;">
                      <%= "#{fa_icon 'flask'} #{jar}".html_safe %>
                    </li>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </ol>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>