<tr>
  <td><%= check_box_tag :row_selector %></td>
  <td><%= order.ces_order_id %></td>
  <td><%= order.customer %></td>
  <td><%= order.created_by %></td>
  <td><%= order.placed_by %></td>
  <td><%= order.description %></td>
  <td><%= order.total_weight %></td>
  <td><%= order.ordered_at %></td>
  <td><%= order.shipped_at %></td>
  <td><%= order.actions %></td>
</tr>