<div class="panel panel-primary">

  <div id ="fulfill-order"
       style="display: hidden;"
       data-href="<%= fulfill_order_path(order) %>">
  </div>

  <div id="fulfill-order-bag"
       style="display: hidden;"
       data-id="<%= @bag.id %>">
  </div>

  <div id="fulfill-order-jar"
       style="display: hidden;"
       data-id="<%= @jar.id %>"
       data-quantity="<%= @jar.amount_to_fill %>">
  </div>

  <div id="fulfill-order-next"
       style="display: hidden;"
       data-next="<%= @jar.next ? true : false %>"
       data-next-url="<%= fulfill_order_path(@jar.order) unless @jar.order.nil? %>">
  </div>

  <div class="panel-heading">
    <h3 class="panel-title"><strong>Order Fulfillment</strong></h3>
  </div>

  <div class="panel-body">

    <legend class="well text-primary text-center">
      <strong>
        Fulfill :
        <span class="text-info"><%= @bag %></span>
        <span><%= fa_icon 'arrow-right' %></span>
        <span class="text-info"><%= @jar %></span>
      </strong>
    </legend>

    <div id="step-1">
      <p class="alert alert-info"><strong>Please place jar on scale 2 and scan...</strong></p>

      <form id="fulfill-order-scan-jar-form">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
              <div class="input-group">
                <%= label_tag 'jar-scan', class: 'input-group-addon' do %>
                  <strong class="text-primary">Scan Jar</strong>
                <% end %>

                <input type="text"
                       id="fulfill-order-scan-jar-input"
                       class="form-control"
                       data-href="<%= scan_jar_path(@jar) %>">
                </input>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div id="step-2">
      <p class="alert alert-info"><strong>Please place bag on scale 1 and scan...</strong></p>

      <form id="fulfill-order-scan-bag-form">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
              <div class="input-group">
                <%= label_tag 'bag-scan', class: 'input-group-addon' do %>
                  <strong class="text-primary">Scan Bag</strong>
                <% end %>

                <input type="text"
                       id="fulfill-order-scan-bag-input"
                       class="form-control"
                       data-href="<%= scan_bag_path(@bag) %>">
                </input>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div id="step-3">
      <p class="alert alert-info"><strong>Please fill jar with <%= @jar.amount_to_fill %> grams from bag...</strong></p>
    </div>

    <div class="row">
      <div class="col-md-6">
        <form id="fulfill-order-scale-1-form" class="scale-display">
          <div class="form-group">
            <div class="input-group">
              <%= label_tag 'fulfill-order-scale-1', class: 'input-group-addon' do %>
                <strong class="text-primary">Weight (Scale 1) :</strong>
              <% end %>
              
              <input type="text"
                     id="fulfill-order-scale-1-input"
                     class="form-control"
                     readonly>
              </input>
              
              <% if params[:debug] %>
                <div class="input-group-btn">
                  <%= link_to '#', class: 'btn btn-primary', id: 'zero-scale-1-btn' do %>
                    <strong>ZERO</strong>
                  <% end %>
                </div>
              <% end%>
            </div>
          </div>
        </form>
      </div>

      <div class="col-md-6">
        <form id="fulfill-order-scale-2-form" class="scale-display">
          <div class="form-group">
            <div class="input-group">
              <%= label_tag 'fulfill-order-scale-2', class: 'input-group-addon' do %>
                <strong class="text-primary">Weight (Scale 2) :</strong>
              <% end %>
                
              <input type="text"
                     id="fulfill-order-scale-2-input"
                     class="form-control"
                     readonly>
              </input>

              <% if params[:debug] %>
                <div class="input-group-btn">
                  <%= link_to '#', class: 'btn btn-primary', id: 'zero-scale-2-btn' do %>
                    <strong>ZERO</strong>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div id="step-4">
      <%= link_to 'Commit Fulfill', '#', id: 'fulfill-order-commit', class: 'btn btn-primary' %>
    </div>

  </div>
</div>