<div class="box box-solid">
  <div class="box-header">
    <h3 class="box-title">Listing orders</h3>
    <div class="box-tools">
      <div class="input-group">
        <%= form_tag(orders_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search", class: "form-control input-sm pull-right" %>
        <% end %>
        <div class="input-group-btn">
          <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </div><!-- /.box-header -->

  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <tr>
        <th><input id="accept" name="accept" type="checkbox" style="height:100%, width:100%" /></th>
        <th><%= sortable :id, 'ID' %></th>
        <th><%= sortable :customer %></th>
        <th>Description</th>
        <th>Total Weight</th>
        <th><%= sortable :ordered_at %></th>
        <th><%= sortable :shipped_at %></th>
        <th>Actions</th>
      </tr>

      <% orders.each do |order| %>
      <tr>
        <td></td>
        <td><%= order.try(:id) %></td>
        <td><%= order.try(:customer) %></td>
        <td>
          <ul style="list-style-type: none; padding-left: 0;">
          <% order.order_lines.each do |line| %>
            <li><%= line %></li>
          <% end %>
          </ul>
        </td>
        <td><%= order.try(:total_weight) %></td>
        <td><%= order.try(:ordered_at) %></td>
        <td><%= order.try(:shipped_at) %></td>
        <td>
          <a class="btn-sm btn-flat btn-warning">New Bags</a>

          <% if can? :create, Jar %>
          <%= link_to 'New Jar', jar,   class: "btn-sm btn-flat btn-danger" %>
          <% end %>

          <% if can? :read, Order %>
          <%= link_to 'Show',    order, class: "btn-sm btn-flat btn-success" %>
          <% end %>

          <% if can? :update, Order %>
          <%= link_to 'Edit',    order, class: "btn-sm btn-flat btn-primary" %>
          <% end %>

          <% if can? :destroy, Order %>
          <%= link_to 'Destroy', order, method: :delete,
              data: { confirm: 'Are you sure?' },
              class: "btn-sm btn-flat btn-danger" %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div><!-- /.box-body -->
</div>

<div class="tableFooter">
  
   
</div>

