<div class="box box-solid">
  <div class="box-header">
    <h3 class="box-title">Listing orders</h3>
    <div class="box-tools">
      <div class="input-group">
        <%= form_tag(orders_path, :method => "get", id: "search-form", remote: true) do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search", class: "form-control input-sm pull-right" %>
        <% end %>
        <div class="input-group-btn">
          <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </div><!-- /.box-header -->

  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <tr>
        <th><%= check_box_tag :accept %></th>
        <th><%= sortable :id, 'ID' %></th>
        <th><%= sortable :customer %></th>
        <th>Description</th>
        <th>Total Weight</th>
        <th><%= sortable :ordered_at %></th>
        <th><%= sortable :shipped_at %></th>
        <th>Actions</th>
      </tr>
      <tbody id="table">
        <%= render 'orders/ajax/table' %>
      </tbody>
    </table>
  </div><!-- /.box-body -->
</div>

<div class="tableFooter">
  <% bins = []; bags = []; jars = [] %>
  <% orders.each do |order| %>
    <% order.order_lines.each do |line| %>
      <% line.jars.each do |jar| %>
        <% jars << jar %>
        <% bags << jar.try(:bag) %>
        <% bins << jar.try(:bag).try(:bin) %>
      <% end %>
    <% end %>
  <% end %>
  <% bins.uniq! ; bags.uniq! ; jars.uniq! %>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 style="margin: 0; padding: 0;">Fulfillment List</h3>
    </div>

    <div class="panel-body">
      <div class="well">
        <legend><strong class="text-primary">Bins</strong></legend>
        <ol style="list-style-type: none; padding-left: 0;">
          <% bins.each do |bin| %>
            <li><%= "#{fa_icon 'square'} #{bin}".html_safe %></li>
          <% end %>
        </ol>
      </div>
      <div class="well">
        <legend><strong class="text-primary">Bags</strong></legend>
        <ol style="list-style-type: none; padding-left: 0;">
          <% bags.each do |bag| %>
            <li><%= "#{fa_icon 'tag'} #{bag}".html_safe %></li>
          <% end %>
        </ol>
      </div>
      <div class="well">
        <legend><strong class="text-primary">Jars</strong></legend>
        <ol style="list-style-type: none; padding-left: 0;">
          <% jars.each do |jar| %>
            <li><%= "#{fa_icon 'flask'} #{jar}".html_safe %></li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
   
</div>

