<div class="input-group">
  <%= link_to 'Fulfillment List', '#', class: 'btn-sm btn-flat btn-primary',
      data: { toggle: 'modal', target: '#fulfillment-list'} %>
</div>

<div class="box box-solid">
  <div class="box-header">
    <h3 class="box-title">Listing orders</h3>
    <div class="box-tools">
      <div class="input-group">
        <%= form_tag(orders_path, method: 'get', id: 'search-form', remote: true) do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search", class: "form-control input-sm pull-right" %>
        <% end %>
        <div class="input-group-btn">
          <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </div><!-- /.box-header -->

  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <tr>
        <th><%= check_box_tag :accept %></th>
        <th><%= sortable :ces_order_id, 'ID' %></th>
        <th><%= sortable :customer %></th>
        <th><%= sortable :created_by %></th>
        <th><%= sortable :placed_by %></th>
        <th><%= sortable :description %></th>
        <th><%= sortable :total_weight %></th>
        <th><%= sortable :ordered_at %></th>
        <th><%= sortable :shipped_at %></th>
        <th>Actions</th>
      </tr>
      <tbody id="table">
        <%= render 'orders/ajax/table' %>
      </tbody>
    </table>
  </div><!-- /.box-body -->
</div>

<div class="tableFooter"></div>

<%= render 'fulfillment_list' %>