<div class="box">
  <div class="box-header">
    <h3 class="box-title">Listing orders</h3>
    <div class="box-tools">
      <div class="input-group">
        <input type="text"
               name="table_search"
               class="form-control input-sm pull-right"
               style="width: 150px;"
               placeholder="Search"/>
        <div class="input-group-btn">
          <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </div><!-- /.box-header -->

  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <tr>
        <th><input id="accept" name="accept" type="checkbox" style="height:100%, width:100%" /></th>
        <th><%= sortable :id %></th>
        <th><%= sortable :customer %></th>
        <th>Description</th>
        <th>Total Weight</th>
        <th><%= sortable :ordered_at %></th>
        <th><%= sortable :shipped_at %></th>
        <th>Actions</th>
      </tr>

      <% orders.each do |order| %>
      <tr>
        <td></td>
        <td><%= order.id %></td>
        <td><%= order.customer %></td>
        <td>
          <ul style="list-style-type: none; padding-left: 0;">
          <% order.order_lines.each do |line| %>
            <li><%= line %></li>
          <% end %>
          </ul>
        </td>
        <td><%= order.total_weight %></td>
        <td><%= order.ordered_at %></td>
        <td><%= order.shipped_at %></td>
        <td>
          <a class="btn-sm btn-flat btn-warning">New Bags</a>
          <%= link_to 'Show',    order, class: "btn-sm btn-flat btn-success" %>
          <%= link_to 'Edit',    order, class: "btn-sm btn-flat btn-primary" %>
          <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' },
                       class: "btn-sm btn-flat btn-danger" %>
        </td>
      </tr>
      <% end %>
    </table>
  </div><!-- /.box-body -->
</div>

<div class="tableFooter">
  
   
</div>

