<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= order.customer %>
</p>

<ul>
  <% order.order_lines.each do |line| %>
    <li><%= line %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_order_path(order) %> |
<%= link_to 'Back', orders_path %>
