<%= form_for(seed) do |f| %>


  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :initial_weight %><br>
    <%= f.text_field :initial_weight %>
  </div>

  <div class="field">
    <%= f.label :current_weight %><br>
    <%= f.text_field :current_weight %>
  </div>

  <div class="field">
    <%= f.label :stock %><br>
    <%= f.text_field :stock %>
  </div>

  <div class="form-group">
    <%= f.label :plant %>
    <%= f.collection_select(:plant_ids, Plant.all, :id, :to_s, {}, {multiple: 'multiple', class: 'textboxlist form-control ' }) %>
  </div> 

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
