<tr>
  <td><%= check_box_tag :row_selector %></td>
  <td><%= seed.name %></td>
  <td><%= seed.stock %></td>
  <td><%= seed.initial_stock %></td>
  <td><%= seed.current_weight %></td>
  <td><%= seed.initial_weight %></td>
  <td><%= seed.actions %></td>
</tr>
