  <% lots.each do |lot| %>
  <tr>
    <td><%= check_box_tag :accept %></td>
    <td><%= lot.try(:id) if lot.present? %></td>
    <td>
      <% if can? :show, lot %>
        <%= link_to lot.try(:to_s), lot if lot.present? %>
      <% else %>
        <%= lot.try(:to_s) if lot.present? %>
      <% end %>
    </td>
    <td><%= strain_for lot.try(:strain) if lot.present? %></td>
    <td><%= category_for lot.try(:category) if lot.present? %></td>
    <td><%= percent_for lot.try(:thc_composition) if lot.present? %></td>
    <td><%= percent_for lot.try(:cbd_composition) if lot.present? %></td>
    <td><%= weight_for lot.try(:initial_weight) if lot.present? %></td>
    <td><%= weight_for lot.try(:current_weight) if lot.present? %></td>
    <td><%= date_for lot.try(:created_at) if lot.present? %></td>
    <td><%= date_for lot.try(:updated_at) if lot.present? %></td>
    <td>
      <%= link_to "Containers".html_safe, '#',
          class: 'btn-sm btn-flat btn-primary', data: { toggle: 'modal', target: "##{lot.id}" } %>
          
      <% if can? :update, Lot %>
      <%= link_to "Edit".html_safe, edit_lot_path(lot), class: "btn-sm btn-flat btn-warning" %>
      <% end %>

      <% if can? :recall, Lot %>
      <%= link_to "Recall", recall_lot_path(lot), class: 'btn-sm btn-flat btn-danger' %>
      <% end %>

      <% if can? :quarantine, Lot %>
      <%= link_to "Quarantine", quarantine_lot_path(lot), class: 'btn-sm btn-flat btn-danger' %>
      <% end %>
    </td>
  </tr>
  <% end %>
