<% lots.each do |lot| %>
  <tr data-lot-id="<%= lot.id %>">
    <td></td>
    <td>
      <% if can? :show, lot %>
        <%= link_to lot.try(:to_s), lot if lot.present? %>
      <% else %>
        <%= lot.try(:to_s) if lot.present? %>
      <% end %>
    </td>
    <td><%= strain_for lot.try(:strain) if lot.present? %></td>
    <td><%= category_for lot.try(:category) if lot.present? %></td>
    <td><%= percent_for lot.try(:thc_composition) if lot.present? %></td>
    <td><%= percent_for lot.try(:cbd_composition) if lot.present? %></td>
    <td><%= percent_for lot.try(:cbn_composition) if lot.present? %></td>
    <td><%= weight_for lot.try(:initial_weight) if lot.present? %></td>
    <td><%= weight_for lot.try(:current_weight) if lot.present? %></td>
    <td><%= recall_for lot.try(:recalled) if lot.present? %></td>
    <td><%= quarantine_for lot.try(:quarantined) if lot.present? %></td>
    <td><%= date_for lot.try(:created_at) if lot.present? %></td>
    <td><%= date_for lot.try(:updated_at) if lot.present? %></td>
  </tr>
<% end %>
