<% lots.each do |lot| %>
  <tr id="lot-<%= lot.id %>">
    <td></td>
    <td>
      <% if can? :show, lot %>
        <%= link_to lot.try(:to_s), lot if lot.present? %>
      <% else %>
        <%= lot.try(:to_s) if lot.present? %>
      <% end %>
    </td>
    <td><%= strain_for lot.try(:strain) if lot.present? %></td>
    <td><%= category_for lot.try(:category) if lot.present? %></td>
    <td><%= percent_for lot.try(:thc_composition) if lot.present? %></td>
    <td><%= percent_for lot.try(:cbd_composition) if lot.present? %></td>
    <td><%= percent_for lot.try(:cbn_composition) if lot.present? %></td>
    <td><%= weight_for lot.try(:initial_weight) if lot.present? %></td>
    <td><%= weight_for lot.try(:current_weight) if lot.present? %></td>
    <td><%= recall_for lot.try(:recalled) if lot.present? %></td>
    <td><%= quarantine_for lot.try(:quarantined) if lot.present? %></td>
    <td><%= date_for lot.try(:created_at) if lot.present? %></td>
    <td><%= date_for lot.try(:updated_at) if lot.present? %></td>
  </tr>

  <div id="context-menu-lot-<%= lot.id %>" class="dropdown clearfix context-menu">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
    <li><%= link_to "Containers".html_safe, '#', class: 'light-blue-link', data: { toggle: 'modal', target: "##{lot.id}" } %></li>
    <% if can? :update, Lot %>
     <li><%= link_to "Edit".html_safe, edit_lot_path(lot), class: "orange-link" %></li>
    <% end %>
    <% if can? :recall, Lot %>
      <li><%= link_to "Recall", recall_lot_path(lot), class: 'red-link' %></li>
    <% end %>    
    <% if can? :quarantine, Lot %>
      <li><%= link_to "Quarantine", quarantine_lot_path(lot), class: 'red-link' %></li>
    <% end %>
  </ul>
  </div>
<% end %>
