<% lots.each do |lot| %>
  <tr data-lot-id="<%= lot.id %>">
    <td></td>
    <td>
      <% if can? :show, lot %>
        <%= link_to lot.try(:to_s), lot if lot.present? %>
      <% else %>
        <%= lot.try(:to_s) if lot.present? %>
      <% end %>
    </td>
    <td>
      <% lot.strains.each do |strain| %>
        <%= strain_for strain %>
      <% end %>
    </td>
    <td><%= category_for lot.try(:category) if lot.present? %></td>
    <td><%= percent_for lot.try(:thc_composition) if lot.present? %></td>
    <td><%= percent_for lot.try(:cbd_composition) if lot.present? %></td>
    <td><%= percent_for lot.try(:cbn_composition) if lot.present? %></td>
    <td><%= weight_for lot.try(:current_weight) if lot.present? %></td>
    <td><%= recall_for lot.try(:recalled) if lot.present? %></td>
    <td><%= quarantine_for lot.try(:quarantined) if lot.present? %></td>
    <td><%= tested_for lot.try(:tested) if lot.present? %></td>
    <td><%= released_for lot.try(:released) if lot.present? %></td>
    <td>
      <% if !lot.released? %>
      <%= link_to "#{fa_icon 'tag' } Release".html_safe, release_lot_path(lot), class: 'btn-sm btn-flat btn-success' %>
      <% end %>
      <%= link_to "#{fa_icon 'tag' } Relot".html_safe, relot_lot_path(lot), class: 'btn-sm btn-flat btn-warning' %>
    </td>
  </tr>
<% end %>