<%= form_for(plant) do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
    <%= display_error_for plant, :name %>
  </div>

  <div class="form-group">
    <%= f.label :strain %>
    <%= f.collection_select(:strain_id, Strain.all, :id, :to_s, {}, { class: 'form-control' }) %>
    <%= display_error_for plant, :strain %>
  </div>

  <div class="form-group">
    <%= f.label :lot %>
    <%= f.collection_select(:lot_id, Lot.all, :id, :to_s, {}, { class: 'form-control' }) %>
    <%= display_error_for plant, :lot %>
  </div>

  <div class="form-group">
    <%= f.label :format %>
    <%= f.collection_select(:format_id, Format.all, :id, :to_s, {}, { class: 'form-control' }) %>
    <%= display_error_for plant, :format %>
  </div>

  <div class="form-group">
    <%= f.label :status %>
    <%= f.collection_select(:status_id, Status.all, :id, :to_s, {}, { class: 'form-control' }) %>
    <%= display_error_for plant, :status %>
  </div>

  <div class="form-group">
    <%= f.label :lot %>
    <%= f.collection_select(:lot_id, Lot.all, :id, :to_s, {}, { class: 'form-control' }) %>
    <%= display_error_for plant, :lot %>
  </div>
  
  <div class="actions">
    <%= f.submit :submit, class: 'btn btn-default' %>
  </div>
<% end %>
