<tr>
  <td><%= check_box_tag :row_selector %></td>
  <td><%= plant.name %></td>
  <td><%= plant.strain %></td>
  <td><%= plant.status %></td>
  <td><%= plant.format %></td>
  <td><%= plant.location %></td>
  <td><%= plant.actions %></td>
</tr>
