<div class="box box-solid box-success">
  <%= render 'shared/box_header', described: :plants %>
  <%= render 'shared/box_table', described: :plants %>
</div>

<div class="tableFooter">
  <%= link_to "#{fa_icon 'leaf'} New Plant".html_safe, '#', class: 'btn btn-flat btn-success',
      data: { toggle: 'modal', target: '.new-plant' } %>
  <div id="paginator">
    <%= paginate plants, remote: true %>
  </div>
</div>

<%= render 'plants/modal/new' %>
