  <div class="box">
    <div class="box-header">
        <h3 class="box-title">Listing plants</h3>
        <div class="box-tools">
            <div class="input-group">
                <input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search"/>
                <div class="input-group-btn">
                    <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                </div>

            </div>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
            <tr>
                <th><%= check_box_tag 'selectAll', class: "checkBoxTable" %></th>
                <th>Cultivar</th>
                <th>ID</th>
                <th>Format</th>
                <th>Status</th>
                <th>RFID</th>
                <th>Origine</th>
                <th>Actions</th>
            </tr>
            <% plants.each do |plant| %>
              <tr>
                <td><%= check_box_tag plant %></td>
                <td><%= plant.cultivar %></td>
                <td><%= plant.id %></td>
                <td><%= plant.format %></td>
                <td>
                  <div class="btn-group">
                    <button type="button" class="btn <%= status_btn_color_for (plant.status)%> btn-flat"><%= plant.status %></button>
                    <button type="button" class="btn btn-success btn-flat dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"></a></li>
                        <li><a href="#">Change RFID</a></li>
                        <li><a href="#">Récolter</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Détruire</a></li>
                    </ul>
                  </div>
                </td>
                <td><%= plant.rfid %></td>
                <td><%= plant.origin %></td>
                <td>
                <%= link_to 'Show', plant %>
                <%= link_to 'Edit', edit_plant_path(plant) %>
                <%= link_to 'Destroy', plant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
        </table>
    </div><!-- /.box-body -->
    <div class="box-footer">
      <div class="box-tools">
        <div class="btn-group">
          <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <button type="button" class="btn btn-info btn-flat">Action</button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        <%= link_to 'New Plant', new_plant_path, class: "btn btn-flat btn-success"  %>

      </div>
    </div>
  </div>

