<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Strain</th>
      <th>Category</th>
      <th>Initial Weight (g)</th>
      <th>Current Weight (g)</th>
      <th>Variance</th>
    </tr>
  </thead>

  <tbody>
    <% bags.each do |bag| %>
      <tr>
        <td><%= bag.try(:to_s) %></td>
        <td><%= strain_for bag.try(:strain) %></td>
        <td><%= bag.try(:category) %></td>
        <td><%= weight_for bag.try(:initial_weight), '' %></td>
        <td><%= weight_for bag.try(:current_weight), '' %></td>
        <td><%= variance_for bag.try(:initial_weight), bag.try(:current_weight) %></td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <th>Total</th>
      <td></td>
      <td></td>
      <td><%= weight_for bags.sum(:current_weight), '' %></td>
      <td></td>
      <td></td>
    </tr>
  </tfoot>
</table>