<% page_width = '100' %>
<% col_width = '16.67' %>

<table style="width: <%= page_width %>%;">
  <thead style="width: <%= page_width %>%;">
    <tr style="width: <%= page_width %>%;">
      <th style="width: <%= col_width %>%;">Name</th>
      <th style="width: <%= col_width %>%;">Strain</th>
      <th style="width: <%= col_width %>%;">Category</th>
      <th style="width: <%= col_width %>%;">Initial Weight (g)</th>
      <th style="width: <%= col_width %>%;">Current Weight (g)</th>
      <th style="width: <%= col_width %>%;">Variance</th>
    </tr>
  </thead>
</table>

<table style="width: <%= page_width %>%;">
  <tbody style="width: <%= page_width %>%;">
    <% bags[0..25].each do |bag| %>
      <tr style="width: <%= page_width %>%;">
        <td style="width: <%= col_width %>%;">
          <%= bag.try(:to_s) %>
        </td>
        
        <td style="width: <%= col_width %>%;">
          <%= strain_for bag.try(:strain) %>
        </td>

        <td style="width: <%= col_width %>%;">
          <%= bag.try(:category) %>
        </td>

        <td style="width: <%= col_width %>%;">
          <%= weight_for bag.try(:initial_weight), '' %>
        </td>

        <td style="width: <%= col_width %>%;">
          <%= weight_for bag.try(:current_weight), '' %>
        </td>

        <td style="width: <%= col_width %>%;">
          <%= variance_for bag.try(:initial_weight), bag.try(:current_weight) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div style="display: block; clear: both; page-break-after: always;"></div>

<% if !bags[25..bags.length].nil? %>
  <% bags[25..bags.length].each_slice(32) do |slice| %>
    <table style="width: <%= page_width %>%;">
      <tbody style="width: <%= page_width %>%;">
        <% slice.each do |bag| %>
          <tr style="width: <%= page_width %>%;">
            <td style="width: <%= col_width %>%;">
              <%= bag.try(:to_s) %>
            </td>
            
            <td style="width: <%= col_width %>%;">
              <%= strain_for bag.try(:strain) %>
            </td>
            
            <td style="width: <%= col_width %>%;">
              <%= bag.try(:category) %>
            </td>
            
            <td style="width: <%= col_width %>%;">
              <%= weight_for bag.try(:initial_weight), '' %>
            </td>
            
            <td style="width: <%= col_width %>%;">
              <%= weight_for bag.try(:current_weight), '' %>
            </td>
            
            <td style="width: <%= col_width %>%;">
              <%= variance_for bag.try(:initial_weight), bag.try(:current_weight) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div style="display: block; clear: both; page-break-after: always;"></div>
  <% end %>
<% end %>

<table style="width: <%= page_width %>%;">
  <tfoot style="width: <%= page_width %>%;">
    <tr style="width: <%= page_width %>%;">
      <th style="width: <%= col_width %>%;">Total</th>
      <td style="width: <%= col_width %>%;"></td>
      <td style="width: <%= col_width %>%;"></td>
      <td style="width: <%= col_width %>%;"><%= weight_for bags.sum(:current_weight), '' %></td>
      <td style="width: <%= col_width %>%;"></td>
      <td style="width: <%= col_width %>%;"></td>
    </tr>
  </tfoot>
</table>