<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Strain</th>
    <th>Category</th>
    <th>Initial Weight (g)</th>
    <th>Current Weight (g)</th>
  </tr>

  <% lots.each do |lot| %>
    <tr>
      <td><%= lot.try(:to_s) %></td>
      <td><%= strain_for lot.try(:strain) %></td>
      <td><%= lot.try(:category) %></td>
      <td><%= weight_for lot.try(:initial_weight), '' %></td>
      <td><%= weight_for lot.try(:current_weight), '' %></td>
    </tr>
  <% end %>
</table>