<%= render 'inventory/report/summary', title: 'Lots', weightable: inventory.lots %><br>

<%= render 'inventory/report/summary', title: 'Containers', weightable: inventory.containers %><br>

<%= render 'inventory/report/summary', title: 'Bags', weightable: inventory.bags %><br>

<%= render 'inventory/report/summary', title: 'Jars', weightable: inventory.jars %><br>

<table class="summary">
  <tr>
    <th class="col-md-10"><strong class="summary-total">Grand Total</strong></th>
    <th class="col-md-2 double-underlines text-right"><span class="summary-total right">
      <%= weight_for inventory.total_weight, '' %>
    </span></th>
  </tr>
</table>