<table>
  <tr>
    <th>Name</th>
    <th>Strain</th>
    <th>Category</th>
    <th>Initial Weight (g)</th>
    <th>Current Weight (g)</th>
  </tr>

  <% jars.each do |jar| %>
    <tr>
      <td><%= jar.try(:to_s) %></td>
      <td><%= strain_for jar.try(:strain) %></td>
      <td><%= jar.try(:category) %></td>
      <td><%= weight_for jar.try(:initial_weight), '' %></td>
      <td><%= weight_for jar.try(:current_weight), '' %></td>
    </tr>
  <% end %>
</table>