<div role="tabpanel">
  <% if Rails.env.development? %>
    <%= link_to 'Print PDF', inventory_plants_babies_path( format: :pdf,
                                                           debug: 1,
                                                           direction: sort_direction,
                                                           sort: sort_direction),
                 class: 'btn btn-primary pull-right' %>
  <% else %>
    <%= link_to 'Print PDF', inventory_plants_babies_path( format: :pdf,
                                                           direction: sort_direction,
                                                           sort: sort_column),
                 class: 'btn btn-primary pull-right' %>
  <% end %>

  <%#= link_to 'Print Monthly Report', inventory_download_path, class: 'btn btn-primary pull-right'%>
  
  <%= render 'inventory/nav' %>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="babies">
      <table class="table table-striped">
        <tr>
          <th><%= sortable :name, 'ID' %></th>
          <th><%= sortable :strain_id %></th>
          <th><%= sortable :status_id %></th>
          <th><%= sortable :format_id %></th>
        </tr>

        <% babies.each do |baby| %>
          <tr>
            <td><%= baby %></td>
            <td><%= strain_for baby.strain %></td>
            <td><%= baby.status %></td>
            <td><%= format_for baby.format %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>