<tr>
  <td>
    <%= date_for ctn.created_at %>
  </td>
  
  <td>
    <%= link_to "#{ctn}".html_safe, ctn, class: "btn-sm btn-flat btn-primary" %>
  </td>
  
  <td>
    <%= fa_icon 'arrow-left' %>
  </td>
  
  <td>
    <%= weight_for ctn.initial_weight %>
  </td>
  
  <td>
    <%= fa_icon 'arrow-left' %>
  </td>

  <td>
    <% ctn.plants.each_slice(4) do |slice| %>
      <% slice.each do |plant| %>
        <%= link_to plant.id, plant, class: "btn-sm btn-flat btn-success" %>
      <% end %>
    <% end %>
  </td>
</tr>

<% if ctn.processing_waste_produced > 0.0 %>
<tr class="danger">
  <td><%= date_for ctn.processing_completed_at %></td>
  <td><%= link_to 'Waste', '#', class: 'btn-sm btn-flat btn-danger' %></td>
  <td><%= fa_icon 'arrow-left' %></td>
  <td><%= weight_for ctn.processing_waste_produced %></td>
  <td><%= fa_icon 'arrow-left' %></td>
  <td><%= link_to "#{ctn}".html_safe, ctn, class: "btn-sm btn-flat btn-primary" %></td>
</tr>
<% end %>