<div role="tabpanel">
  <%= link_to 'Print PDF', inventory_plants_download_path, class: 'btn btn-primary pull-right' %>

  <%#= link_to 'Print Monthly Report', inventory_download_path, class: 'btn btn-primary pull-right'%>
  
  <%= render 'inventory/nav' %>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="plants">
      <table class="table table-striped">
        <tr>
          <th><%= sortable :id, 'ID' %></th>
          <th><%= sortable :strain %></th>
        </tr>

        <% plants.each do |plant| %>
          <tr>
            <td><%= plant.try(:to_s) %></td>
            <td><%= strain_for plant.try(:strain) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>