<div role="tabpanel">
  <% if Rails.env.development? %>
    <%= link_to 'Print PDF', inventory_plants_path( format: :pdf,
                                                    debug: 1,
                                                    direction: sort_direction,
                                                    sort: sort_column),
                                                    class: 'btn btn-primary pull-right' %>
  <% else %>
    <%= link_to 'Print PDF', inventory_plants_path( format: :pdf,
                                                    direction: sort_direction,
                                                    sort: sort_column),
                                                    class: 'btn btn-primary pull-right' %>
  <% end %>

  <%#= link_to 'Print Monthly Report', inventory_download_path, class: 'btn btn-primary pull-right'%>
  
  <%= render 'inventory/nav' %>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="plants">
      <%= form_for inventory_plants_path, remote: true, id: 'filter-form' do |f| %>
        <table class="table table-striped">
          <tr>
            <th class="col-md-2">
              <%= sortable :name, 'ID' %>
              <%= f.number_field :id, id: 'id-filter', class: 'filter form-control' %>
            </th>

            <th class="col-md-2">
              <%= sortable :strain_id %>
              <%= f.select :strain_id, options_from_collection_for_select(Strain.all, "id", "acronym"),
                  { selected: Strain.first }, class: 'filter form-control', id: 'strain-filter' %>
            </th>

            <th class="col-md-2">
              <%= sortable :status_id %>
              <%= f.select :status_id, options_from_collection_for_select(Status.all, "id", "name"),
                  { selected: Status.first }, class: 'filter form-control', id: 'status-filter' %>
            </th>

            <th class="col-md-2">
              <%= sortable :format_id %>
              <%= f.select :format_id, options_from_collection_for_select(Format.all, "id", "name"),
                  { selected: Format.first }, class: 'filter form-control', id: 'format-filter' %>
            </th>

            <th class="col-md-2">
              <%= sortable :type %>
              <%= f.select :type, options_for_select(['Plant', 'Plant::BabyPlant', 'Plant::ClonePlant', 'Plant::MotherPlant']), { selected: 'Plant' }, class: 'filter form-control', id: 'type-filter' %>
            </th>
          </tr>

          <tbody id="table-body">
            <% plants.each do |plant| %>
              <tr>
                <td><%= plant %></td>
                <td><%= strain_for plant.strain %></td>
                <td><%= plant.status %></td>
                <td><%= format_for plant.format %></td>
                <td><%= plant.type %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>