<div role="tabpanel">
  <%= link_to 'Print PDF', inventory_plants_clones_download_path, class: 'btn btn-primary pull-right' %>

  <%#= link_to 'Print Monthly Report', inventory_download_path, class: 'btn btn-primary pull-right'%>
  
  <%= render 'inventory/nav' %>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="clones">
      <table class="table table-striped">
        <tr>
          <th><%= sortable :name, 'ID' %></th>
          <th><%= sortable :strain_id %></th>
          <th><%= sortable :status_id %></th>
          <th><%= sortable :format_id %></th>
        </tr>

        <% clones.each do |plant| %>
          <tr>
            <td><%= plant %></td>
            <td><%= strain_for plant.strain %></td>
            <td><%= plant.status %></td>
            <td><%= format_for plant.format %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>