<div role="tabpanel">
  <% if Rails.env.development? %>
    <%= link_to 'Print PDF', inventory_plants_clones_path( format: :pdf,
                                                           debug: 1,
                                                           direction: sort_direction,
                                                           sort: sort_direction),
                 class: 'btn btn-primary pull-right' %>
  <% else %>
    <%= link_to 'Print PDF', inventory_plants_clones_path( format: :pdf,
                                                           direction: sort_direction,
                                                           sort: sort_column),
                 class: 'btn btn-primary pull-right' %>
  <% end %>

  <%#= link_to 'Print Monthly Report', inventory_download_path, class: 'btn btn-primary pull-right'%>
  
  <%= render 'inventory/nav' %>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="clones">
      <%= form_for :filter, url: inventory_plants_clones_path, remote: true, html: { id: 'filter-form' } do |f| %>
        <table class="table table-striped">
          <tr>
            <th class="col-md-3">
              <%= sortable :name, 'ID' %>
              <%= f.number_field :id, id: 'id-filter', class: 'filter form-control' %>
            </th>

            <th class="col-md-3">
              <%= sortable :strain_id %>
              <%= f.collection_select :strain_id, Strain.all, :id, :acronym,
                  { include_blank: true }, class: 'filter form-control', id: 'strain-filter' %>
            </th>

            <th class="col-md-3">
              <%= sortable :status_id %>
              <%= f.collection_select :status_id, Status.all, :id, :name,
                  { include_blank: true }, class: 'filter form-control', id: 'status-filter' %>
            </th>

            <th class="col-md-3">
              <%= sortable :format_id %>
              <%= f.collection_select :format_id, Format.all, :id, :name,
                  { include_blank: true }, class: 'filter form-control', id: 'format-filter' %>
            </th>
          </tr>

          <tbody id="table-body">
            <%= render 'inventory/plants/clones/ajax/table' %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>