<%= form_for(lot) do |f| %>
    <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
    <%= display_error_for lot, :name %>
  </div>

  <div class="form-group">
    <%= f.label :weight %>
    <%= f.text_field :weight , class: 'form-control', value: number_with_precision(lot.current_weight, precision: 2) %>
    <%= display_error_for lot, :weight %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
