<h1>Editing lot</h1>

<%= form_for(lot) do |f| %>
  <div class="form-group">
    <%= f.label :containers %>
    <% containers.each_slice(6) do |slice| %>
    <div class="row">
      <% slice.each do |container| %>
      <div class="col-lg-2">
        <%= check_box_tag "lot[container_ids][]", container.id, lot.containers.include?(container) %>
        <%= label_tag container %>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
    <%= display_error_for lot, :name %>
  </div>

  <div class="form-group">
    <%= f.label :initial_weight %>
    <%= f.text_field :initial_weight , class: 'form-control', value: number_with_precision(lot.initial_weight, precision: 2) %>
    <%= display_error_for lot, :initial_weight %>
  </div>

  <div class="form-group">
    <%= f.label :current_weight %>
    <%= f.text_field :current_weight , class: 'form-control', value: number_with_precision(lot.current_weight, precision: 2) %>
    <%= display_error_for lot, :current_weight %>
  </div>

  <div class="form-group">
    <%= f.label :thc_composition %>
    <%= f.text_field :thc_composition , class: 'form-control', value: number_with_precision(lot.thc_composition, precision: 2) %>
    <%= display_error_for lot, :thc_composition %>
  </div>

  <div class="form-group">
    <%= f.label :tbd_composition %>
    <%= f.text_field :tbd_composition , class: 'form-control', value: number_with_precision(lot.tbd_composition, precision: 2) %>
    <%= display_error_for lot, :tbd_composition %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Show', lot %> |
<%= link_to 'Back', lots_path %>
