<div id="lot" class="hide" data-id="<%= lot.id %>"></div>

<div class="row" style="height: 200px;">
  <div id="scanner" class="col-md-6" style="height: 100%;">
    <%= render 'shared/scan', message: "Please scan bag...", scannable: 'Bag', height: "100%" %>
  </div>

  <div id="scannable" class="col-md-6" style="display: none;">
    <%= render 'shared/box_description', described: nil, color: 'primary', icon: 'tag', title: 'Scannable' %>
  </div>

  <div class="col-md-6" style="height: 100%;">
    <div class="panel panel-danger" style="height: 100%;">
      <div class="panel-heading">
        <h3 class="no-margin no-padding">Current Bags in Lot</h3>
      </div>

      <div class="panel-body">
        <ul style="list-style-type: none; padding-left: 0;">
          <% bags.each do |bag| %>
            <li class="col-md-3"><%= link_to bag, bag %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div id="relot-step-1" class="col-md-6 hide" style="padding-top: 30px;">
    <%= render 'shared/scale_display', message: 'Please put bag on scale 1' %>
  </div>

  <div id="relot-step-2" class="col-md-6" style="display: none">
    <%= form_for transactions_path do |f| %>
    <% end %>
  </div>
</div>