<p id="notice"><%= notice %></p>

<ul style="list-style-type: none; padding-left: 0;">
  <li><strong>Name :</strong><%= lot %><li>
  <li><strong>Weight :</strong><%= lot.current_weight %><li>
</ul>

<%= link_to 'Edit', edit_lot_path(lot) %> |
<%= link_to 'Back', lots_path %>