<p id="notice"><%= notice %></p>
<h4><%= lot %></h4>
<div class="row">
  <!--<div class="col-lg-2">
    <div class="box-header">
      <h3 class="box-title">Links</h3>
    </div>
    
    <%= link_to "#{fa_icon('flask')} New Bag".html_safe, '#', class: 'btn btn-block btn-warning', data: { toggle: 'modal', target: '.new-bag' } %>
    <%= link_to "#{fa_icon('leaf')} Origin Plant".html_safe, '#', class: 'btn btn-block btn-success' %>
  </div> -->
  <div class="col-lg-6">
    <div class="box box-solid box-info">
      <div class="box-header">
      <i class="fa fa-tag"></i>
      <h3 class="box-title">Description</h3>
      </div> 
      <div class="box-body">
        <div class="row">
          <div class="col-lg-10">
            <dl class="dl-horizontal">
              <dt>ID :</dt>
              <dd><%= lot.id %></dd>
              <dt>Name :</dt>
              <dd><%= lot %></dd>
              <dt>Strain :</dt>
              <dd><%= lot.strain %></dd>
              <dt>Type :</dt>
              <dd><%= lot.category %></dd>
              <dt>Initial Weight : </dt>
              <dd>
                <%= number_with_precision((lot.initial_weight.nil? ? 0 : lot.initial_weight), precision: 2) %> g
              </dd>
              <dt>Current Weight :</dt>	
              <dd>
                <%= number_with_precision((lot.current_weight.nil? ? 0 : lot.current_weight), precision: 2) %> g
              </dd>
              <dt>Created At :</dt>
              <dd><%= lot.created_at.to_s :short %></dd>
              <dt>Updated At :</dt>
              <dd><%= lot.updated_at.to_s :short %></dd> 
            </dl>
          </div>
          <div class="col-lg-2">
            <div class="progress vertical">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="<%= percent_of_weight(lot) %>" aria-valuemin="0" aria-valuemax="100" style="height: <%= percent_of_weight(lot) %>%">
                <span class="sr-only"><%= percent_of_weight(lot) %>%</span>
              </div>
            </div>
            <%= percent_of_weight(lot) %>%
          </div>
        </div>
      </div> 
    </div>
  </div>
  <div class="col-lg-6">
    <div class="box box-solid box-success">
      <div class="box-header">
        <i class="fa fa-tag"></i>
        <h3 class="box-title">Origin</h3>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-lg-10">
            <dl class="dl-horizontal description">
              <dt>Plant</dt>
              <dd>Plant description.</dd>
            </dl>
          </div>
          <div class="col-lg-2">
            <div class="progress vertical">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="height: 50%">
                <span class="sr-only">50%</span>
              </div>
            </div>
          </div>
      </div> 
    </div>
  </div>
</div>
</div>
    <div class="row">
    <div class="col-lg-6">
      <div class="box box-solid box-danger">
        <div class="box-header">
          <i class="fa fa-flask"></i>
          <h3 class="box-title">History</h3>
         </div>
        <div class="box-body">
          <table class="table table-hover">
            <tr>
              <th>Source : </th>
              <th>Target : </th>
              <th>Quantity : </th>
              <th>Timestamp : </th>
              <th>User : </th>
            </tr>
            <div class="nav nav-pills" role="pilllist">
              <tr>
                <td><a href="#id<%= lot.id %>" aria-controls="id<%= lot.id %>" role="tab" data-toggle="tab"><%= bag.lot %></a></td>
                <td><%= lot %></td>
                <td><%= lot.initial_weight %></td>
                <td><%= lot.created_at.to_s :short %></td>
                <td><!--<%# bag.history.history_lines.first.user %>--></td>
              </tr>
              <% lot.history.history_lines.each do |line| %>
              <% next if line.target == bag.lot %>
                <tr>
                  <td><%= bag %></td>
                  <td><a href="#<%= line.id %>" aria-controls="<%= line.id %>" role="tab" data-toggle="tab"><%= line.target %></a></td>
                  <td><%= line.quantity %></td>
                  <td><%= line.created_at.to_s :short %></td>
                  <td><!--<%#  line.user %>--></td>
                </tr>
              <% end %>
            </div>
          </table>
        </div> 
      </div>
    </div>
    <div class="col-lg-6">
      <div class="box box-solid box-danger">
        <div class="box-header">
          <i class="fa fa-flask"></i>
          <h3 class="box-title">History</h3>
        </div>
        <div class="box-body">
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade" id="id<%= lot.id %>">
            </div>
            <table class="table table-hover">
              <tr>
                <th>Source : </th>
                <th>Target : </th>
                <th>Quantity : </th>
                <th>Timestamp : </th>
                <th>User : </th>
              </tr>
            </table>
            <% lot.history.history_lines.each do |line| %>
              <div role="tabpanel" class="tab-pane fade" id="<%= line.id %>">
                <table class="table table-hover">
                  <div role="tabpanel">
                    <% next if line.target.nil? %>
                    <% line.target.history.history_lines.each do |subline| %>
                      <tr>
                        <td><%= subline.source %></td>
                        <td><%= subline.target %></td>
                        <td><%= subline.quantity %> g</td>
                        <td><%= subline.created_at.to_s :short %></td>
                        <td></td>
                      </tr>
                    <% end %>
                  </div>
                </table>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
    
<!--<%= link_to 'Edit', edit_lot_path(lot) %> | -->
<%= link_to 'Back', lots_path %>

<%= render 'bags/modal/new' %>