<h4><%= lot %></h4>

<div class="row">
  <div class="col-lg-6">
    <div class="box box-solid box-info">
      <div class="box-header">
        <i class="fa fa-tag"></i>
        <h3 class="box-title">Description</h3>
      </div> 

      <div class="box-body">
        <div class="row">
          <div class="col-lg-10">
            <dl class="dl-horizontal">
              
              <dt>ID :</dt>
              <dd><%= lot.try(:id) if lot.present? %></dd>
              
              <dt>Name :</dt>
              <dd><%= lot.try(:to_s) if lot.present? %></dd>
              
              <dt>Strains :</dt>
              <dd><%= lot.try(:strains) if lot.present? %></dd>
              
              <dt>Type :</dt>
              <dd><%= lot.try(:category) if lot.present? %></dd>
              
              <dt>Initial Weight : </dt>
              <dd><%= weight_for lot.try(:initial_weight) if lot.present? %></dd>

              <dt>Current Weight :</dt>
              <dd><%= weight_for lot.try(:current_weight) if lot.present? %></dd>
              
              <dt>Created At :</dt>
              <dd><%= date_for lot.try(:created_at) %></dd>
              
              <dt>Updated At :</dt>
              <dd><%= date_for lot.try(:updated_at) %></dd> 

            </dl>
          </div>

          <%= render 'shared/progress_bar', weightable: lot, color: 'info' %>
        </div>
      </div> 
    </div>
  </div>

  <div class="col-lg-6">
    <div class="box box-solid box-success">
      <div class="box-header">
        <i class="fa fa-leaf"></i>
        <h3 class="box-title">Plants</h3>
      </div>
      <div class="box-body">
        <table class="table table-hover">
          <tr>
            <th>Name : </th>
            <th>ID : </th>
            <th>Updated At : </th>
            <th>Actions : </th>
          </tr>

          <% lot.plants.each do |plant| %>
          <tr>
            <td><%= plant.try(:to_s) if plant.present? %></td>
            <td><%= plant.try(:id) if plant.present? %></td>
            <td><%= date_for plant.try(:created_at) %></td>
            <td><%= link_to "#{fa_icon('leaf')} #{plant}".html_safe, plant, class: "btn-sm btn-flat btn-success" %></td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
  </div>
    <div class="row">
    <div class="col-lg-6">
      <div class="box box-solid box-danger">
        <div class="box-header">
          <i class="fa fa-flask"></i>
          <h3 class="box-title">History</h3>
         </div>
        <div class="box-body">
          <table class="table table-hover">
            <tr>
              <th>Source : </th>
              <th>Target : </th>
              <th>Quantity : </th>
              <th>Timestamp : </th>
              <th>User : </th>
            </tr>
            <div class="nav nav-pills" role="pilllist">
              <tr>
                <td><a href="#id<%= lot.id %>" aria-controls="id<%= lot.id %>" role="tab" data-toggle="tab"><%= bag.lot %></a></td>
                <td><%= lot %></td>
                <td><%= lot.initial_weight %></td>
                <td><%= lot.created_at.to_s :short %></td>
                <td><!--<%# bag.history.history_lines.first.user %>--></td>
              </tr>
              <% lot.history.history_lines.each do |line| %>
              <% next if line.target == bag.lot %>
                <tr>
                  <td><%= bag %></td>
                  <td><a href="#<%= line.id %>" aria-controls="<%= line.id %>" role="tab" data-toggle="tab"><%= line.target %></a></td>
                  <td><%= line.quantity %></td>
                  <td><%= line.created_at.to_s :short %></td>
                  <td><!--<%#  line.user %>--></td>
                </tr>
              <% end %>
            </div>
          </table>
        </div> 
      </div>
    </div>
    <div class="col-lg-6">
      <div class="box box-solid box-danger">
        <div class="box-header">
          <i class="fa fa-flask"></i>
          <h3 class="box-title">History</h3>
        </div>
        <div class="box-body">
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade" id="id<%= lot.id %>">
            </div>
            <table class="table table-hover">
              <tr>
                <th>Source : </th>
                <th>Target : </th>
                <th>Quantity : </th>
                <th>Timestamp : </th>
                <th>User : </th>
              </tr>
            </table>
            <% lot.history.history_lines.each do |line| %>
              <div role="tabpanel" class="tab-pane fade" id="<%= line.id %>">
                <table class="table table-hover">
                  <div role="tabpanel">
                    <% next if line.target.nil? %>
                    <% line.target.history.history_lines.each do |subline| %>
                      <tr>
                        <td><%= subline.source %></td>
                        <td><%= subline.target %></td>
                        <td><%= subline.quantity %> g</td>
                        <td><%= subline.created_at.to_s :short %></td>
                        <td></td>
                      </tr>
                    <% end %>
                  </div>
                </table>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
    
<!--<%= link_to 'Edit', edit_lot_path(lot) %> | -->
<%= link_to 'Back', lots_path %>

<%= render 'bags/modal/new' %>