<table class="table table-striped">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Strain</th>
    <th>Category</th>
    <th>Initial Weight (g)</th>
    <th>Current Weight (g)</th>
  </tr>

  <% bags.each do |bag| %>
    <tr>
      <td></td>
      <td><%= bag %></td>
      <td><%= bag.strain unless bag.container.nil? %></td>
      <td><%= bag.category unless bag.container.nil? %></td>
      <td><%= number_with_precision bag.initial_weight, precision: 2 %></td>
      <td><%= number_with_precision bag.current_weight, precision: 2 %></td>
    </tr>
  <% end %>
</table>