<table class="table table-striped">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Strain</th>
    <th>Category</th>
    <th>Initial Weight (g)</th>
    <th>Current Weight (g)</th>
  </tr>

  <% jars.each do |jar| %>
    <tr>
      <td></td>
      <td><%= jar %></td>
      <td><%= jar.strain %></td>
      <td><%= jar.category %></td>
      <td><%= jar.initial_weight %></td>
      <td><%= jar.current_weight %></td>
    </tr>
  <% end %>
</table>