<table class="table table-striped">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Strain</th>
    <th>Category</th>
    <th>Initial Weight (g)</th>
    <th>Current Weight (g)</th>
  </tr>

  <% jars.each do |jar| %>
    <tr>
      <td></td>
      <td><%= jar %></td>
      <td><%= jar.strain unless jar.bag.nil? %></td>
      <td><%= jar.category unless jar.bag.nil? %></td>
      <td><%= number_with_precision jar.initial_weight, precision: 2 %></td>
      <td><%= number_with_precision jar.current_weight, precision: 2 %></td>
    </tr>
  <% end %>
</table>