<%= render 'inventory/summary/plants' %><br>

<%= render 'inventory/summary/jars' %><br>

<%= render 'inventory/summary/lots' %><br>

<%= render 'inventory/summary/bags' %><br>

<table class="table table-striped">
  <tr>
    <th class="col-md-10">Total Weight Per Strain</th>
    <th class="col-md-2">Weight (g)</th>
  </tr>
  <% Strain.all.uniq.each do |strain| %>
    <tr>
      <td><%= strain.name %></td>
      <td><%= number_with_precision strain.total_weight, precision: 2 %></td>
    </tr>
  <% end %>
</table>

<table class="table table-striped">
  <tr>
    <th class="col-md-10">Grand Total</th>
    <th class="col-md-2">
      <%= number_with_precision(
        (Plant.total_weight + Bag.total_weight + Jar.total_weight + Lot.total_weight), precision: 2
      ) %> g
    </th>
  </tr>
</table>