<div role="tabpanel">
  <%= link_to 'Print PDF', inventory_download_path, class: 'btn btn-primary pull-right' %>
  
  <ul class="nav nav-tabs" roles="tablist">
    <li role="presentation" class="active">
      <%= link_to 'Summary', '#summary', role: 'tab', data: { toggle: 'tab' } %>
    </li>

    <li role="presentation">
      <%= link_to 'Plants', '#plants', role: 'tab', data: { toggle: 'tab' } %>
    </li>

    <li role="presentation">
      <%= link_to 'Jars', '#jars', role: 'tab', data: { toggle: 'tab' } %>
    </li>

    <li role="presentation">
      <%= link_to 'Lots', '#lots', role: 'tab', data: { toggle: 'tab' } %>
    </li>
    
    <li role="presentation">
      <%= link_to 'Bags', '#bags', role: 'tab', data: { toggle: 'tab' } %>
    </li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="summary">
      <%= render 'inventory/summary' %>
    </div>

    <div role="tabpanel" class="tab-pane" id="plants">
      <%= render 'inventory/plants' %>
    </div>

    <div role="tabpanel" class="tab-pane" id="jars">
      <%= render 'inventory/jars' %>
    </div>

    <div role="tabpanel" class="tab-pane" id="lots">
      <%= render 'inventory/lots' %>
    </div>

    <div role="tabpanel" class="tab-pane" id="bags">
      <%= render 'inventory/bags' %>
    </div>
  </div>
</div>