<div role="tabpanel">
  <%= link_to 'Print PDF', inventory_download_path, class: 'btn btn-primary pull-right' %>

  <%#= link_to 'Print Monthly Report', inventory_download_path, class: 'btn btn-primary pull-right'%>
  
  <%= render 'inventory/nav' %>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="summary">

      <%= render 'inventory/summary', weightable: Lot %>

      <%= render 'inventory/summary', weightable: Container %>
      
      <%= render 'inventory/summary', weightable: Bag %>
      
      <%= render 'inventory/summary', weightable: Jar %>

      <table class="table table-hover summary">
        <tr>
          <th class="col-md-10"><strong class="summary-total">Grand Total</strong></th>
          <th class="col-md-2 double-underlines text-right"><span class="summary-total right">
            <%= weight_for total_weight, '' %>
          </span></th>
        </tr>
      </table>
      
    </div>
  </div>
</div>