<div role="tabpanel">
  <%= link_to 'Print PDF', inventory_download_path, class: 'btn btn-primary pull-right' %>
  
  <ul class="nav nav-tabs" roles="tablist">
    
    <li role="presentation" class="active">
      <%= link_to 'Lots', '#lots', role: 'tab', data: { toggle: 'tab' } %>
    </li>
    
    <li role="presentation">
      <%= link_to 'Bags', '#bags', role: 'tab', data: { toggle: 'tab' } %>
    </li>
  </ul>

  <div class="tab-content">

    <div role="tabpanel" class="tab-pane active">
      <%= render 'inventory/lots' %>
    </div>

    <div role="tabpanel" class="tab-pane">
      <%= render 'inventory/bags' %>
    </div>
  </div>
</div>