x<div role="tabpanel">
  <%= link_to 'Print PDF', inventory_download_path, class: 'btn btn-primary pull-right' %>

  <%= link_to 'Print Monthly Report', inventory_download_path, class: 'btn btn-primary pull-right'%>
  
  <ul class="nav nav-tabs" roles="tablist">
    <li role="presentation" class="active">
      <%= link_to 'Summary', '#summary', role: 'tab', data: { toggle: 'tab' } %>
    </li>

    <li role="presentation">
      <%= link_to 'Plants', '#plants', role: 'tab', data: { toggle: 'tab' } %>
    </li>

    <li role="presentation">
      <%= link_to 'Jars', '#jars', role: 'tab', data: { toggle: 'tab' } %>
    </li>

    <li role="presentation">
      <%= link_to 'Lots', '#lots', role: 'tab', data: { toggle: 'tab' } %>
    </li>

    <li role="presentation">
      <%= link_to 'Containers', '#containers', role: 'tab', data: { toggle: 'tab'} %>
    </li>
    
    <li role="presentation">
      <%= link_to 'Bags', '#bags', role: 'tab', data: { toggle: 'tab' } %>
    </li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="summary">
      <%= render 'inventory/summary', weightable: Lot %><br>
      <%= render 'inventory/summary', weightable: Container %><br>
      <%= render 'inventory/summary', weightable: Bag %><br>
      <%= render 'inventory/summary', weightable: Jar %><br>

      <table class="table table-hover summary">
        <tr>
          <th class="col-md-10"><strong class="summary-total">Grand Total</strong></th>
          <th class="col-md-2 double-underlines text-right"><span class="summary-total right">
            <%= weight_for total_weight, '' %>
          </span></th>
        </tr>
      </table>
    </div>

    <div role="tabpanel" class="tab-pane" id="plants">
      <%= render 'inventory/plants' %>
    </div>

    <div role="tabpanel" class="tab-pane" id="jars">
      <%= render 'inventory/jars' %>
    </div>

    <div role="tabpanel" class="tab-pane" id="lots">
      <%= render 'inventory/lots' %>
    </div>

    <div role="tabpanel" class="tab-pane" id="containers">
      <%= render 'inventory/containers' %>
    </div>

    <div role="tabpanel" class="tab-pane" id="bags">
      <%= render 'inventory/bags' %>
    </div>
  </div>
</div>