<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :event %><br>
    <%= f.datetime_select :event, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :source_id %>
    <%= f.text_field :source_id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :source_type %>
    <%= f.select :source_type, options_for_select([
          'Bag',
          'Container',
          'Harvest'
        ]), { selected: @transaction.source_type }, class: 'form-control' %>
    <%= display_error_for @transaction, :source_type %>
  </div>
  
  <div class="form-group">
    <%= f.label :target_id %>
    <%= f.text_field :target_id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :target_type %>
    <%= f.select :target_type, options_for_select([
          'Container',
          'Transactions::Lab',
          'Waste'
        ]), { selected: @transaction.target_type }, class: 'form-control' %>
    <%= display_error_for @transaction, :target_type %>
  </div>
  
  <div class="form-group">
    <%= f.label :weight %>
    <%= f.text_field :weight, class: 'form-control' %>
  </div>

  <div class="input-group">
    <%= f.submit nil, class: 'btn btn-flat btn-primary' %>
  </div>
<% end %>
