<div role="tabpanel">
  <% if Rails.env.development? %>
    <%= link_to 'Print PDF', inventory_containers_path( format: :pdf,
                                                        debug: 1,
                                                        direction: sort_direction,
                                                        sort: sort_column),
                 class: 'btn btn-primary pull-right' %>
  <% else %>
    <%= link_to 'Print PDF', inventory_containers_path( format: :pdf,
                                                        direction: sort_direction,
                                                        sort: sort_column),
                 class: 'btn btn-primary pull-right' %>
  <% end %>

  <%#= link_to 'Print Monthly Report', inventory_download_path, class: 'btn btn-primary pull-right'%>
  
  <%= render 'inventory/nav' %>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="containers">
      <table class="table table-striped">
        <tr>
          <th><%= sortable :name, 'ID' %></th>
          <th><%= sortable :strain %></th>
          <th><%= sortable :category_id %></th>
          <th><%= sortable :initial_weight, 'Initial Weight (g)' %></th>
          <th><%= sortable :current_weight, 'Current Weight (g)' %></th>
          <th><%= sortable :processing_waste_produced, 'Waste (g)' %></th>
        </tr>

        <% containers.each do |container| %>
          <tr>
            <td><%= container.try(:to_s) %></td>
            <td><%= strain_for container.try(:strain) %></td>
            <td><%= container.try(:category) %></td>
            <td><%= weight_for container.try(:initial_weight), '' %></td>
            <td><%= weight_for container.try(:current_weight), '' %></td>
            <td><%= weight_for container.try(:processing_waste_produced), '' %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>