<div class="box box-solid box-success">
  <div class="box-header">
    <i class="fa fa-leaf"></i>
    <h3 class="box-title">Timeline</h3>
  </div>
  <div class="box-body">
    <table id="timeline" class="table table-hover">
      <tr>
        <th class="col-lg-2">Timestamp : </th>
        <th class="col-lg-3" style="text-align:right">Object : </th>
        <th class="col-lg-3" style="text-align:center">Event : </th>
        <th>Object : </th>
      </tr>
      <tr>
        <td><%= date_for bag.lot.try(:created_at) if bag.lot.present? %></td>
        <td style="text-align:right"><%= link_to "#{bag.lot}".html_safe, bag.lot, class: "btn-sm btn-flat btn-info" %></td>
        <td style="text-align:center"><i style="float:left" class="fa fa-arrow-left"></i> <%= bag.try(:lot).try(:initial_weight) %> g <i class="fa fa-arrow-left" style="float:right"> </i></td>
        <td style="text-align:left">
          <% ordered_by_id(bag.lot.plants).each do |plant| %>
            <%= link_to plant.id, plant, class: "btn-sm btn-flat btn-success" %>
          <% end %>
        </td>
      </tr>
      
      <tr>
        <td><%= date_for bag.container.try(:created_at) %></td>
        <td style="text-align:right"><%= link_to "#{bag.container}".html_safe, bag.container, class: "btn-sm btn-flat btn-primary" %></td>
         <td style="text-align:center"><i class="fa fa-arrow-left" style="float:left"></i> <%= bag.try(:container).try(:initial_weight) %> g <i class="fa fa-arrow-left" style="float:right"></i></td>
            <td style="text-align:left">
              <% unless bag.try(:container).try(:plants).nil? %>
              <% ordered_by_id(bag.container.plants).each do |plant| %>
                <%= link_to plant.id, plant, class: "btn-sm btn-flat btn-success" %>
              <% end %>
              <% end %>
            </td>
      </tr>

      <tr>
        <td><%= date_for bag.try(:created_at) %></td>
        <td style="text-align:right"><%= link_to "#{bag}".html_safe, bag, class: "btn-sm btn-flat btn-warning" %></td>
         <td style="text-align:center"><i class="fa fa-arrow-left" style="float:left"></i> <%= bag.initial_weight %> g <i class="fa fa-arrow-left" style="float:right"></i></td>
            <td style="text-align:left"> <%= link_to bag.container, bag.container, class: "btn-sm btn-flat btn-primary" %> </td>
      </tr>

      <% ordered_by_id(bag.try(:jars)).each do |jar| %>
        <tr>
          <td><%= date_for jar.try(:created_at) if jar.present? %></td>
          <td style="text-align:right">
            <%= link_to "#{jar}".html_safe, jar, class: "btn-sm btn-flat btn-danger" %></td>
            <td style="text-align:center"><i style="float:left" class="fa fa-arrow-left"></i> <%= jar.current_weight %> g <i style="float:right" class="fa fa-arrow-left"></i></td>
            <td style="text-align:left"><%= link_to jar.bag, jar.bag, class: "btn-sm btn-flat btn-warning" %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>