<p id="notice"><%= notice %></p>
<h4><%= strain %></h4>
<table>
  <tr>
  	<th>Acronym : </th>
  	<td><%= strain %></td>
  </tr>
  <tr>
  	<th>Brand : </th>
  	<td><%= strain.brand %></td>
  </tr>
  </table>
<%= link_to 'Edit', edit_strain_path(strain) %> |
<%= link_to 'Back', strains_path %>
