<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= loc.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= loc.description %>
</p>


<%= link_to 'Edit', edit_location_path(loc) %> |
<%= link_to 'Back', locations_path %>
