<aside class="left-side sidebar-offcanvas">
  
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
        
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <%= image_tag "hydropothecary-icon.png", id: 'logo', class: 'img-responsive' %>
      </div>

      <div class="pull-left info">
        <p>Hello, <%= current_user %></p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
        
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search..."/>
        <span class="input-group-btn">
          <button type='submit'
                  name='search'
                  id='search-btn'
                  class="btn btn-flat">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="<%= params[:controller] == 'dashboard' ? 'active' : nil %>">
        <%= link_to "#{fa_icon('dashboard')} <span>Dashboard</span>".html_safe, dashboard_path %> 
      </li>
      <li class="<%= params[:controller] == 'inventory' ? 'active' : nil %>">
        <%= link_to "#{fa_icon('list')} <span>Inventory</span>".html_safe, inventory_path %>
      </li>
      <li  class="<%= params[:controller] == 'orders' ? 'active' : nil %>">
        <%= link_to "#{fa_icon('shopping-cart')} <span>Orders</span>".html_safe, orders_path %>
      </li>
      <li class="<%= params[:controller] == 'plants' ? 'active' : nil %>">
        <%= link_to "#{fa_icon('leaf')} <span>Plants</span>".html_safe, plants_path %> 
      </li>
      <li class="<%= params[:controller] == 'lots' ? 'active' : nil %>">
        <%= link_to "#{fa_icon('tags')} <span>Lots</span>".html_safe, lots_path %>
      </li>
      <li class="<%= params[:controller] == 'containers' ? 'active' : nil %>">
        <%= link_to "#{fa_icon('dashboard')} <span>Containers</span>".html_safe, containers_path %> 
      </li>
      <li class="<%= params[:controller] == 'bags' ? 'active' : nil %>">
        <%= link_to "#{fa_icon('tag')} <span>Bags</span>".html_safe, bags_path %>
      </li>
      <li class="<%= params[:controller] == 'jars' ? 'active' : nil %>">
        <%= link_to "#{fa_icon('flask')} <span>Jars</span>".html_safe, jars_path %>
      </li>

      <% if can? :manage, User %>
      <li class="treeview">
        <%= link_to "#{fa_icon('cog')} <span>Admin</span> #{fa_icon('chevron-down',
            class: 'pull-right')}".html_safe, users_path %>

        <ul class="treeview-menu">
          <li class="<%= params[:controller] == 'users' ? 'active' : nil %>">
            <%= link_to "#{fa_icon('user')} <span>Users</span>".html_safe, users_path %>
          </li>
          <!-- <li class="<%= params[:controller] == 'user/groups' ? 'active' : nil %>">
            <%# link_to "#{fa_icon('group')} <span>Groups</span>".html_safe, user_groups_path %>
          </li> -->
        </ul>
      </li>
      <% end %>
    </ul>
    </section>
    <!-- /.sidebar -->

</aside>