<!DOCTYPE html>
<html>
<head>
  <title>THC-ICS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
  <script>window.WildCompass.env.<%= Rails.env %> = true</script>
</head>
<% if user_signed_in? %>
  <body class="skin-black fixed"
        data-controller="<%= controller_name %>"
        data-action="<%= action_name %>">        
	  
    <%= render "layouts/navbar" %>

    <div class="wrapper row-offcanvas row-offcanvas-left">
            
      <!-- Left side column. contains the logo and sidebar -->
      <%= render "layouts/sidebar" %>

      <!-- Right side column. Contains the navbar and content of the page -->
      <aside class="right-side" >
                
        <!-- Content Header (Page header) -->
        <%= render "layouts/content_header" %>

        <!-- Main content -->
        <section class="content">

          <div id="app-env" class="text-center">
            <% if Rails.env.development? %>
              <p class="alert alert-danger"><strong>DEVELOPMENT</strong></p>
            <% elsif Rails.env.staging? %>
              <p class="alert alert-warning"><strong>STAGING</strong></p>
            <% elsif Rails.env.testing? %>
              <p class="alert alert-warning"><strong>TESTING</strong></p>
            <% end %>
          </div>

          <%= yield %>            
        </section><!-- /.content -->
      </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->
  </body>
<% else %>
  <body class="bg-black">
    <%= yield %>
  </body>
<% end %>
</html>