<% orders.each do |order| %>
  <tr>
    <td><%= check_box_tag :accept %></td>
    <td><%= order.ces_order_id %></td>
    <td><%= order.customer %></td>
    <td><%= order.created_by %></td>
    <td><%= order.placed_by %></td>
    <td>
      <ul style="list-style-type: none; padding-left: 0;">
      <% order.order_lines.each do |line| %>
        <li>
          <%= line %>
          <ul>
            <% line.jars.each do |jar| %>
            <% next if jar.fulfilled? %>
            <li>
              <%= link_to jar, jar %>
              <i class="fa fa-arrow-left"></i>
              <%= link_to jar.try(:bag), jar.try(:bag) %>
              <i class="fa fa-arrow-left"></i>
              <%= link_to jar.try(:bag).try(:bin), jar.try(:bag).try(:bin) %>
            </li>
            <% end %>
          </ul>
        </li>
      <% end %>
      </ul>
    </td>
    <td><%= order.try(:total_weight) %></td>
    <td><%= order.try(:ordered_at) %></td>
    <td><%= order.try(:shipped_at) %></td>
    <td>
      <% if can? :fulfill, order %>
        <%= link_to 'Fulfill', fulfill_order_path(order), class: "btn-sm btn-flat btn-primary fulfill",
            data: { href: fulfill_order_path(order) } %>
      <% end %>
    </td>
  </tr>
<% end %>