<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Strain</th>
    <th>Category</th>
    <th>Initial Weight (g)</th>
    <th>Current Weight (g)</th>
  </tr>

  <% bags.each do |bag| %>
    <tr>
      <td><%= bag.try(:to_s) if bag.present? %></td>
      <td><%= strain_for bag.try(:strain) if bag.present? %></td>
      <td><%= bag.try(:category) if bag.present? %></td>
      <td><%= weight_for bag.try(:initial_weight), '' if bag.present? %></td>
      <td><%= weight_for bag.try(:current_weight), '' if bag.present? %></td>
    </tr>
  <% end %>
</table>