<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Strain</th>
    <th>Category</th>
    <th>Initial Weight (g)</th>
    <th>Current Weight (g)</th>
  </tr>

  <% jars.each do |jar| %>
    <tr>
      <td><%= jar.try(:to_s) if jar.present? %></td>
      <td><%= strain_for jar.try(:strain) if jar.present? %></td>
      <td><%= jar.try(:category) if jar.present? %></td>
      <td><%= weight_for jar.try(:initial_weight), '' if jar.present? %></td>
      <td><%= weight_for jar.try(:current_weight), '' if jar.present? %></td>
    </tr>
  <% end %>
</table>